{{>admin-head-html}}
<div class="screen-overlay"></div>
{{>admin-navbar}}
<main class="main-wrap">
    {{>admin-header}}
    <section class="content-main">
        <form  id="add-product" enctype="multipart/form-data">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>


                        <div>

                            <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to
                                draft</button>
                            <button class="btn btn-md rounded font-sm hover-up" type="submit"
                                id="add-button">Publish</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="mb-4">
                                <label for="product_title" class="form-label">Product title</label>
                                <input type="text" placeholder="{{productId}}" class="form-control" id="product_title"
                                    name="product_title" >
                                    <input type="hidden" value="{{productId}}" name="productId">
                                <small class="error-msg text-danger"></small>
                            </div>
                            <div class="row gx-3">
                                <div class="col-md-4  mb-3">
                                      <label for="product_size" class="form-label">Sizes</label>
                                 <select id="color-select" name="product_size" class="form-select">
                                  {{#each sizes}}
                                  <option value="{{this.code}}">{{this.size}}</option>
                                  {{/each}}
                                  </select>
                                    <small class="error-msg text-danger"></small>
                                    {{!-- <label for="product_sku" class="form-label">SKU</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_sku"
                                        name="product_sku">
                                    <small class="error-msg text-danger"></small> --}}
                                </div>
                                <div class="col-md-4  mb-3">
                                     <label for="product_color" class="form-label">Colors</label>
                                 <select id="color-select"  name="product_color" class="form-select">
                                  {{#each colors}}
                                  <option value="{{this.color}}">{{this.color}}</option>
                                  {{/each}}
                                  </select>
                                    <small class="error-msg text-danger"></small>
                            
                                       
                                </div>
                                <div class="col-md-4  mb-2">
                                    <label class="form-label">Quantity</label>
                                <input type="number" placeholder="Type here" class="form-control"
                                    name="product_quantity" id="product_quantity" min="0">
                                <small class="error-msg text-danger"></small>
                               
                                </div>
                            </div>
                            <div class="mb-4">
                                <label for="product_brand" class="form-label">Brand</label>
                                <input type="text" placeholder="Type here" class="form-control" id="product_brand"
                                    name="product_brand">
                                <small class="error-msg text-danger"></small>
                            </div>
                        </div>
                    </div> <!-- card end// -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div>
                                <label class="form-label">Description</label>
                                <textarea placeholder="Type here" class="form-control" rows="4"
                                    name="product_description" id="description"></textarea>
                                <small class="error-msg text-danger"></small>
                            </div>
                        </div>
                    </div> <!-- card end// -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h4>Media</h4>
                                </div>
                                <div class="card-body">
                                    <div class="input-upload">
                                        <img src="/assets/imgs/theme/upload.svg" alt="" id="imgView">
                                        <input class="form-control" type="file" name="product_image" required
                                            onchange="viewImage(event)" multiple>
                                    </div>
                                </div>
                            </div> <!-- card end// -->
                        </div>
                    </div> <!-- card end// -->
                </div>
                <div class="col-lg-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="mb-4">
                                <label class="form-label">Price</label>
                                <input type="text" placeholder="Type here" class="form-control" name="product_price"
                                    id="product_price" min="0">
                                <small class="error-msg text-danger"></small>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Warranty</label>
                                <input type="text" placeholder="Type here" class="form-control" name="product_warranty"
                                    id="product_warranty">
                                <small class="error-msg text-danger"></small>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Return</label>
                                <input type="text" placeholder="Type here" class="form-control" name="product_return"
                                    id="product_return">
                                <small class="error-msg text-danger"></small>
                            </div>               
                            <hr>  
                        </div>
                        <h5 class="mb-3 ms-3">Delivery Options</h5>
                        <div class="form-check ms-4">
                            <input class="form-check-input " type="checkbox" value="Cash On Delivery" id="product-cat-1"
                                name="delivery[]">
                            <label class="form-check-label" for="product-cat-1"> Cash On Delivery </label>
                        </div>
                        <div class="form-check ms-4">
                            <input class="form-check-input" type="checkbox" value="wallet" id="product-cat-4"
                                name="delivery[]">
                            <label class="form-check-label" for="product-cat-4"> Wallet </label>
                        </div>
                        <div class="form-check ms-4">
                            <input class="form-check-input" type="checkbox" value="razorpay" id="product-cat-5"
                                name="delivery[]">
                            <label class="form-check-label" for="product-cat-5"> Razorpay </label>
                        </div>
                        <div class="form-check ms-4">
                            <input class="form-check-input" type="checkbox" value="Paypal" id="product-cat-6"
                                name="delivery[]">
                            <label class="form-check-label" for="product-cat-6"> Paypal </label>
                        </div>

                        <small class="error-msg text-danger"></small>


                    </div> <!-- card end// -->
                </div>
            </div>
        </form>
    </section>
    {{>admin-footer}}

    {{!-- <script src="/frontendValidations/addProduct.js" type="text/javascript"></script> --}}
        <script>
           
    $("#add-product").submit((e) => {
      e.preventDefault();
      const formData = new FormData($("#add-product")[0]); // Create a new FormData object from the form

      // Show loading effect
      const loading = Swal.fire({
        title: "",
        html: '<div class="loader"></div><br><span class="text">Uploading your data...</span>',
        allowOutsideClick: false,
        showConfirmButton: false,
        didOpen: () => {
          Swal.showLoading();
        }
      });

      $.ajax({
        type: "POST",
        url: "/admin/dashboard/view-product-template/add-products/",
        data: formData,
        contentType: false,
        processData: false,
        success: (response) => {
          // Hide loading effect
          loading.close();

          if (response.status) {
            // Show success alert
            Swal.fire({
              text: response.Message,
              icon: "success",
              confirmButtonText: "OK",
              confirmButtonColor: "#3085d6",
              didClose: () => {
                location.reload();
              }
            });
          }else if(response.error ) {
             Swal.fire({
              text: response.Msg[0].msg,
              icon: "error",
              confirmButtonText: "OK",
              confirmButtonColor: "#f37b7b",
            });

          } else {
            // Show error alert
            Swal.fire({
              text: response.Message,
              icon: "warning",
              confirmButtonText: "OK",
              confirmButtonColor: "#f37b7b",
              didClose: () => {
                location.reload();
              }
            });
          }
        },
        error: (error) => {
          // Hide loading effect
          loading.close();

          // Show error alert
          Swal.fire({
            text: "Internal Server Error",
            icon: "error",
            confirmButtonText: "OK",
            confirmButtonColor: "#f37b7b"
          });
        }
      });
    });
        function viewImage(event) {
            document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
        }
    </script>
  