<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->

<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>

    <main class="main-wrap">

        <section class="content-main">
            <form action="/admin/editProductsList/{{product._id}}" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-9">
                        <div class="content-header">
                            <h2 class="content-title">Edit Products</h2>


                            <div>

                                <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to
                                    draft</button>
                                <button class="btn btn-md rounded font-sm hover-up" type="submit">Update</button>
                            </div>
                        </div>
                    </div>
                    {{!-- <div class="row" style="width: 75%;"> --}}
                        {{!-- {{#if updateMsg}} --}}
                        {{!-- <p class="alert alert-success mt-3 text-center" style="width: 75%;">{{updateMsg}}</p> --}}
                        {{#if updateErr.0.msg }}
                        <p class="alert alert-danger mt-3 text-center" style="width: 75%;">{{ updateErr.0.msg}}
                        </p>
                        {{!-- {{else}} --}}
                        {{/if}}
                        {{!--
                    </div> --}}
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="mb-4">
                                    <label for="product_title" class="form-label">Product title</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_title"
                                        name="product_title" value="{{product.product_title}}">
                                </div>
                                <div class="row gx-3">
                                    <div class="col-md-4  mb-3">
                                        <label for="product_sku" class="form-label">SKU</label>
                                        <input type="text" placeholder="Type here" class="form-control" id="product_sku"
                                            name="product_sku" value="{{product.product_sku}}">
                                    </div>
                                    <div class="col-md-4  mb-3">
                                        <label for="product_color" class="form-label">Color</label>
                                        <input type="text" placeholder="Type here" class="form-control"
                                            id="product_color" name="product_color" value="{{product.product_color}}">
                                    </div>
                                    <div class="col-md-4  mb-3">
                                        <label for="product_size" class="form-label">Size</label>
                                        <input type="text" placeholder="Type here" class="form-control"
                                            id="product_size" name="product_size" value="{{product.product_size}}">
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label for="product_brand" class="form-label">Brand</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_brand"
                                        name="product_brand" value="{{product.product_brand}}">
                                </div>
                            </div>
                        </div> <!-- card end// -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <div>
                                    <label class="form-label">Description</label>
                                    <textarea placeholder="Type here" class="form-control" rows="4"
                                        name="product_description">{{product.product_description}}</textarea>
                                </div>
                            </div>
                        </div> <!-- card end// -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <h4>Media</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="input-upload">
                                            <img src="/images/{{product._id}}.jpg" alt="" id="imgView">
                                            <input class="form-control" type="file" name="product_image" onchange="viewImage(event)">
                                        </div>
                                    </div>
                                </div> <!-- card end// -->
                            </div>
                        </div> <!-- card end// -->
                    </div>
                    <div class="col-lg-3">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="mb-4">
                                    <label class="form-label">Price</label>
                                    <input type="text" placeholder="Type here" class="form-control"
                                        name="product_price" value="{{product.product_price}}">
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Status</label>
                                    <select class="form-select" name="product_status" >{{product.product_status}}
                                       
                                        <option>Published</option>
                                        <option>Draft</option>
                                    </select>
                                </div>
                                {{!-- <div class="mb-4">
                                    <label class="form-label">Tags</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="product_tags">
                                </div>
                                <a href="#" class="font-xs hover-up mr-15"><i
                                        class="font-xs material-icons md-close text-body"></i> Tech</a>
                                <a href="#" class="font-xs hover-up mr-15"><i
                                        class="font-xs material-icons md-close text-body"></i> Mobile</a>
                                <a href="#" class="font-xs hover-up mr-15"><i
                                        class="font-xs material-icons md-close text-body"></i> Apple</a> --}}
                                <hr>
                                <h5 class="mb-3">Categories</h5>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="product-cat"
                                        name="shirt">
                                    <label class="form-check-label" for="product-cat"> Shirt </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="product-cat-1">
                                    <label class="form-check-label" for="product-cat-1"> T-Shirt </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="product-cat-2">
                                    <label class="form-check-label" for="product-cat-2"> Sneakers </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="product-cat-3">
                                    <label class="form-check-label" for="product-cat-3"> Joggers </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="product-cat-4">
                                    <label class="form-check-label" for="product-cat-4"> Vests </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="product-cat-5">
                                    <label class="form-check-label" for="product-cat-5"> Knitwear </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="product-cat-8">
                                    <label class="form-check-label" for="product-cat-8"> Shorts </label>
                                </div>
                            </div>
                            <h5 class="mb-3 ms-3">Delivery Options</h5>
                            <div class="form-check ms-4">
                                <input class="form-check-input " type="checkbox" value="" id="product-cat" name="cod">
                                <label class="form-check-label" for="product-cat"> Cash On Delivery </label>
                            </div>
                            <div class="form-check ms-4">
                                <input class="form-check-input" type="checkbox" value="" id="product-cat-1" name="">
                                <label class="form-check-label" for="product-cat-1">Credit Card </label>
                            </div>
                            <div class="form-check ms-4">
                                <input class="form-check-input" type="checkbox" value="" id="product-cat-2">
                                <label class="form-check-label" for="product-cat-2">Debit Card </label>
                            </div>
                            <div class="form-check ms-4">
                                <input class="form-check-input" type="checkbox" value="" id="product-cat-3">
                                <label class="form-check-label" for="product-cat-3"> Joggers </label>
                            </div>
                            <div class="form-check ms-4">
                                <input class="form-check-input" type="checkbox" value="" id="product-cat-4">
                                <label class="form-check-label" for="product-cat-4"> Vests </label>
                            </div>
                            <div class="form-check ms-4">
                                <input class="form-check-input" type="checkbox" value="" id="product-cat-5">
                                <label class="form-check-label" for="product-cat-5"> Knitwear </label>
                            </div>
                            <div class="form-check ms-4">
                                <input class="form-check-input" type="checkbox" value="" id="product-cat-8">
                                <label class="form-check-label" for="product-cat-8"> Shorts </label>
                            </div>
                        </div> <!-- card end// -->
                    </div>
                </div>
            </form>
         
        </section>
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/vendors/select2.min.js"></script>
    <script src="/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/assets/js/main.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->

</html>
<script>
    function viewImage(event){
        document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
    }
</script>