{{>admin-head-html}}
    <div class="screen-overlay"></div>
    {{>admin-navbar}}
    <main class="main-wrap">
        {{>admin-header}}
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order List </h2>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div>
                    <input type="text" placeholder="Search order ID" class="form-control bg-white">
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Show 20</option>
                                <option>Show 30</option>
                                <option>Show 40</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Mobile</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Status</th>
                                    <th></th>
                                    <th scope="col" class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each odr}}
                                <tr>
                                    <td>0901</td>
                                    <td><b>{{name}}</b></td>
                                    <td>{{mobile}}</td>
                                    <td>${{totalPrice}}</td>
                                     <td>{{date}}</td>
                                    {{#if (eq status "placed")}}
                                    <td><span class="badge rounded-pill alert-success">Placed</span></td>
                                    {{else if (eq status "pending")}}
                                    <td><span class="badge rounded-pill alert-warning">Pending</span></td>
                                    {{else if (eq status "cancelled")}}
                                    <td><span class="badge rounded-pill alert-danger">Canceled</span></td>
                                    {{/if}}
                                     <td class="text-end">
                                        <div class="dropdown">
                                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                            <div class="dropdown-menu">
                                                <button id="block-btn" onclick="changeOrderStatus('{{_id}}','{{status}}','placed')" style="border: none;" class="dropdown-item">Placed</button>
                                                <button id="block-btn" onclick="changeOrderStatus('{{_id}}','{{status}}','pending')" style="border: none;" class="dropdown-item">Pending</button>
                                                <button id="block-btn" onclick="changeOrderStatus('{{_id}}','{{status}}','cancelled')" style="border: none;" class="dropdown-item">Cancell</button>
                                            </div>
                                        </div> 
                                    </td>
                                    <td class="text-end">
                                        <a href="#" class="btn btn-md rounded font-sm">Detail</a>
                                        {{!-- <div class="dropdown">
                                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">View detail</a>
                                                <a class="dropdown-item" href="#">Edit info</a>
                                                <a class="dropdown-item text-danger" href="#">Delete</a>
                                            </div>
                                        </div>  --}}
                                    </td>
                                </tr>
                                {{/each}}    
                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
{{>admin-footer}}

<script>
    const changeOrderStatus=(orderId,currStatus,newStatus) => {
        console.log(orderId,currStatus,newStatus)
            $.ajax({
        url:"/admin/change-product-status",
        data:{
            orderId:orderId,
            currentStatus:currStatus,
            newStatus:newStatus
        },
        method:'post',
        success:(res)=>{
            location.reload();
        }
      })
    }
</script>