{{>admin-head-html}}
<div class="screen-overlay"></div>
{{>admin-navbar}}
<main class="main-wrap">
    {{>admin-header}}
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Reviews</h2>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div>
                <input type="text" placeholder="Search by name" class="form-control bg-white">
            </div>
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <div class="row gx-3">
                    <div class="col-lg-4 col-md-6 me-auto">
                        <input type="text" placeholder="Search..." class="form-control" />
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <select class="form-select">
                            <option>Status</option>
                            <option>Active</option>
                            <option>Disabled</option>
                            <option>Show all</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <select class="form-select">
                            <option>Show 20</option>
                            <option>Show 30</option>
                            <option>Show 40</option>
                        </select>
                    </div>
                </div>
            </header>
            <!-- card-header end// -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" />
                                    </div>
                                </th>
                                <th>#ID</th>
                                <th>Product</th>
                                <th>Name</th>
                                <th>Rating</th>
                                <th>Date</th>
                                <th class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each reviews}}

                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" />
                                    </div>
                                </td>
                                <td>{{inc @index}}</td>
                                <td><b>{{product.product_title}}</b></td>
                                <td>{{userDetails.name}}</td>
                                <td>
                                    <div class="star-div">
                                        <span><i class="fa  fa-star star" style="color:#DDDDDD ;font-size: 12px;"></i></span>
                                        <span><i class="fa  fa-star star" style="color:#DDDDDD ;font-size: 12px;"></i></span>
                                        <span><i class="fa  fa-star star" style="color:#DDDDDD ;font-size: 12px;"></i></span>
                                        <span><i class="fa  fa-star star" style="color:#DDDDDD ;font-size: 12px;"></i></span>
                                        <span><i  class="fa  fa-star star" style="color:#DDDDDD ; font-size: 12px;"></i></span>
                                       <input type="hidden" class="rating-input" value="{{rating}}">

                                    </div>

                                </td>
                                <td>{{formatDate addedAt}}</td>
                                <td class="text-end">
                                    <a href="#" class="btn btn-md rounded font-sm">Detail</a>
                                    <div class="dropdown">
                                        <a href="#" data-bs-toggle="dropdown"
                                            class="btn btn-light rounded btn-sm font-sm"> <i
                                                class="material-icons md-more_horiz"></i> </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">View detail</a>
                                            <a class="dropdown-item" href="#">Edit info</a>
                                            <a class="dropdown-item text-danger" href="#">Delete</a>
                                        </div>
                                    </div> <!-- dropdown //end -->
                                </td>
                            </tr>
                            {{/each}}


                        </tbody>
                    </table>
                </div> <!-- table-responsive//end -->
            </div>
            <!-- card-body end// -->
        </div>
        <div class="pagination-area mt-30 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                    <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">16</a></li>
                    <li class="page-item"><a class="page-link" href="#"><i
                                class="material-icons md-chevron_right"></i></a></li>
                </ul>
            </nav>
        </div>
    </section> <!-- content-main end// -->
    {{>admin-footer}}

    <script>
    // get all the sets of stars and hidden input fields
    const starSets = document.querySelectorAll('.star-div');
    console.log(starSets)
    // loop through each set of stars and hidden input fields
    starSets.forEach((set) => {
        // get the rating value from the hidden input field
        let rating = set.querySelector('.rating-input').value;
        rating = parseInt(rating)

        // loop through the stars in the current set and fill in the stars based on the rating value
        const stars = set.querySelectorAll('.star');
        stars.forEach((star, index) => {
            if (index < rating) {
                star.style.color = '#ED8A19';
            } else {
                star.style.color = '#DDDDDD';
            }
        });
    });


</script>
