{{>admin-head-html}}
<div class="screen-overlay"></div>
{{>admin-navbar}}
<main class="main-wrap">
    {{>admin-header}}
    <section class="content-main">

        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Variants Management </h2>
                <p>Add, edit or delete a variants</p>
            </div>
            <div>
                <input type="text" placeholder="Search Categories" class="form-control bg-white">
            </div>
        </div>
        {{#if deletedCategory}}
        <div>
            <p class="alert alert-danger text-center">{{deletedCategory}}</p>
        </div>
        {{/if}}
        {{#if addedCategory}}
        <p class="alert alert-success text-center">{{addedCategory}}</p>
        {{/if}}
        <div class="row pb-4 mt-5">
        </div>
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-3">
                        <div class="mb-4" style="">
                            <div class="d-grid">
                                <button class="btn btn-light add-color-btn">Add Color</button>
                            </div>
                        </div>
                        <div class="mt-5 mb-4">
                            <div class="d-grid">
                                <button class=" btn-light btn add-size-btn">Add Size</button>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 pl-130" id="form-container">
                        <div id="color-form">
                            <div class="mb-4">
                                <label for="color_name" class="form-label">Color Name</label>
                                <input type="text" placeholder="Type here" class="form-control" id="color_name"
                                    name="color_name" />
                                <label for="color_code" class="form-label mt-3">Color Code</label>
                                <input type="text" placeholder="Type here" class="form-control" id="color_code"
                                    name="color_code" />
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-primary" id="color-btn">Add Color</button>
                            </div>
                        </div>
                        <div id="size-form" style="display: none;">
                            <div class="mb-4">
                                <label for="size_name" class="form-label">Size Name</label>
                                <input type="text" placeholder="Type here" class="form-control" id="size_name"
                                    name="size_name" />
                                <label for="size_code" class="form-label mt-3">Size Code</label>
                                <input type="text" placeholder="Type here" class="form-control" id="size_code"
                                    name="size_code" />
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-primary" id="size-btn">Add Size</button>
                            </div>
                        </div>

                    </div>
                </div>


            </div> <!-- card body .// -->
        </div> <!-- card .// -->
        <div class="card">
            <div class="card-body">
                <div class="row d-flex justify-content-center align-items-center ">
                    <div class="col-md-6 text-center">
                        <div class="table-responsive">
                            <table class="table table-hover" style="overflow: hidden;">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Colors</th>
                                        <th>Code</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each colors}}
                                    <tr>
                                        <td>{{inc @index}}</td>
                                        <td>{{color}}</td>
                                        <td>{{code}}</td>
                                        <td class="text-end">
                                            <div class="dropdown">
                                                <a href="#" data-bs-toggle="dropdown"
                                                    class="btn btn-light rounded btn-sm font-sm"> <i
                                                        class="material-icons md-more_horiz"></i> </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">View detail</a>
                                                    <a class="dropdown-item"
                                                        href="/admin/editProdutCategory/{{_id}}">Edit info</a>
                                                    <a class="dropdown-item text-danger"
                                                        href="/admin/deleteProductCategory/{{_id}}">Delete</a>
                                                </div>
                                            </div> <!-- dropdown //end -->
                                        </td>
                                    </tr>
                                    {{/each}}

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <div class="table-responsive">
                            <table class="table table-hover" style="overflow: hidden;">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Sizes</th>
                                        <th>Code</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each sizes}}
                                    <tr>
                                        <td>{{inc @index}}</td>
                                        <td>{{size}}</td>
                                        <td>{{code}}</td>
                                        <td class="text-end">
                                            <div class="dropdown">
                                                <a href="#" data-bs-toggle="dropdown"
                                                    class="btn btn-light rounded btn-sm font-sm"> <i
                                                        class="material-icons md-more_horiz"></i> </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">View detail</a>
                                                    <a class="dropdown-item"
                                                        href="/admin/editProdutCategory/{{_id}}">Edit info</a>
                                                    <a class="dropdown-item text-danger"
                                                        href="/admin/deleteProductCategory/{{_id}}">Delete</a>
                                                </div>
                                            </div> <!-- dropdown //end -->
                                        </td>
                                    </tr>
                                    {{/each}}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> <!-- .row // -->
            </div> <!-- card body .// -->
        </div> <!-- card .// -->
    </section> <!-- content-main end// -->
    {{>admin-footer}}


    <script>
        // Get references to the buttons and forms
        const addColorBtn = document.querySelector('.add-color-btn');
        const addSizeBtn = document.querySelector('.add-size-btn');
        const colorForm = document.querySelector('#color-form');
        const sizeForm = document.querySelector('#size-form');

        // Add event listeners to the buttons
        addColorBtn.addEventListener('click', () => {
            colorForm.style.display = 'block';
            sizeForm.style.display = 'none';
        });

        addSizeBtn.addEventListener('click', () => {
            colorForm.style.display = 'none';
            sizeForm.style.display = 'block';
        });


    </script>

    <script>
        $('#color-btn').click((e) => {
            const colorInput = document.querySelector('#color_name');
            const colorValue = colorInput.value;
            const colorCode = document.querySelector('#color_code').value
            e.preventDefault()
            $.ajax({
                type: 'POST',
                url: '/admin/dashboard/add-color',
                data: { color: colorValue, code: colorCode },
                success: (response) => {
                    response.status ? Swal.fire({
                        text: response.Message,
                        icon: 'success',
                        confirmButtonText: 'OK',
                        confirmButtonColor: '#3085d6',
                    }) : Swal.fire({
                        text: response.Message,
                        icon: 'warning',
                        confirmButtonText: 'OK',
                        confirmButtonColor: '#f37b7b',
                    })
                },
                error: (err) => {

                }
            })
        })
        $('#size-btn').click((e) => {
            e.preventDefault()
            const sizeInput = document.querySelector('#size_name');
            const sizeValue = sizeInput.value;
            const sizeCode = document.querySelector('#size_code').value
            $.ajax({
                type: 'POST',
                url: '/admin/dashboard/add-size',
                data: { size: sizeValue, code: sizeCode },
                success: (response) => {
                   response.status ? Swal.fire({
                        text: response.Message,
                        icon: 'success',
                        confirmButtonText: 'OK',
                        confirmButtonColor: '#3085d6',
                    }) : Swal.fire({
                        text: response.Message,
                        icon: 'warning',
                        confirmButtonText: 'OK',
                        confirmButtonColor: '#f37b7b',
                    })
                },
                err: (err) => {
                }
            })
        })

    </script>