{{>admin-head-html}}
<div class="screen-overlay"></div>
{{>admin-navbar}}
<main class="main-wrap">
    {{>admin-header}}
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Order detail</h2>
                <p>Details for Order ID: 3453012</p>
            </div>
        </div>
        <div class="card">
            <header class="card-header">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                        <span>
                            <i class="material-icons md-calendar_today"></i> <b>{{orders.date}}</b>
                        </span> <br>
                        <small class="text-muted">Order ID: 3453012</small>
                    </div>
                    <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                        <select class="form-select d-inline-block mb-lg-0 mb-15 mw-200">
                            <option>Change status</option>
                            <option>Awaiting payment</option>
                            <option>Confirmed</option>
                            <option>Shipped</option>
                            <option>Delivered</option>
                        </select>
                        <a class="btn btn-primary" href="#">Save</a>
                        <a class="btn btn-secondary print ms-2" href="#"><i
                                class="icon material-icons md-print"></i></a>
                    </div>
                </div>
            </header> <!-- card-header end// -->
            <div class="card-body">
                <div class="row mb-50 mt-20 order-info-wrap">
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-person"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Customer</h6>
                                <p class="mb-1">
                                    {{orders.name}} <br> <template class="__cf_email__"
                                        data-cfemail="e2838e879aa2879a838f928e87cc818d8f">[email&#160;protected]</template>
                                    <br> +998 99 22123456
                                </p>
                                <a href="#">View profile</a>
                            </div>
                        </article>
                    </div> <!-- col// -->
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-local_shipping"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Order info</h6>
                                <p class="mb-1">
                                    Shipping: Fargo express <br> Pay method: {{orders.paymentMethod}} <br> Status:
                                    {{orders.status}}
                                </p>
                                <a href="#">Download info</a>
                            </div>
                        </article>
                    </div> <!-- col// -->
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-place"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Deliver to</h6>
                                <p class="mb-1">
                                    City: {{address.address.city}},
                                    {{address.address.state}}<br>{{address.address.landmark}},
                                    {{address.address.pincode}}, {{address.address.locality}} <br> Po Box 10000
                                </p>
                                <a href="#">View profile</a>
                            </div>
                        </article>
                    </div> <!-- col// -->
                </div> <!-- row // -->
                <div class="row">
                    <div class="col-lg-7">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="40%">Product</th>
                                        <th width="20%">Unit Price</th>
                                        <th width="20%">Quantity</th>
                                        <th width="20%" class="text-end">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each products}}
                                    <tr>
                                        <td>
                                            <a class="itemside" href="#">
                                                <div class="left">
                                                    <img src="/images/{{item}}.jpg" width="40" height="40"
                                                        class="img-xs" alt="Item">
                                                </div>
                                                <div class="info"> {{product.product_title}} </div>
                                            </a>
                                        </td>
                                        <td> ${{product.product_price}}</td>
                                        <td> {{quantity}}</td>
                                        <td class="text-end"> $99.50 </td>
                                    </tr>
                                    {{/each}}



                                    <tr>
                                        <td colspan="4">
                                            <article class="float-end">
                                                <dl class="dlist">
                                                    <dt>Subtotal:</dt>
                                                    <dd>$973.35</dd>
                                                </dl>
                                                <dl class="dlist">
                                                    <dt>Shipping cost:</dt>
                                                    <dd>$10.00</dd>
                                                </dl>
                                                <dl class="dlist">
                                                    <dt>Grand total:</dt>
                                                    <dd> <b class="h5">${{orders.totalPrice}}</b> </dd>
                                                </dl>
                                                <dl class="dlist">
                                                    <dt class="text-muted">Status:</dt>
                                                    <dd>
                                                        <span
                                                            class="badge rounded-pill alert-success text-success">Payment
                                                            done</span>
                                                    </dd>
                                                </dl>
                                            </article>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> <!-- table-responsive// -->
                    </div> <!-- col// -->
                    <div class="col-lg-1"></div>
                    <div class="col-lg-4">
                        {{#if orders.reasonTocancell}}
                        <div class="box shadow-sm bg-light">
                            <h6 class="mb-15 text-danger">This order has been cancelled by the user</h6>
                            <p>
                                Reason: {{orders.reasonTocancell}}
                            </p>
                        </div>
                        {{/if}}
                        {{#if orders.returnReason}}
                        <div class="box shadow-sm bg-light">
                            <h6 class="mb-15 text-danger">This order has been returned by the user</h6>
                            <p>
                                Reason: {{orders.returnReason}}
                            </p>
                        </div>
                        {{/if}}
                        {{#if (eq orders.returnStatus 'accepted')}}
                        <div class="box shadow-sm bg-light mt-4">
                            <h6 class="mb-15 text-success">Select expected pick up date</h6>
                            <label for="date-input">Select a date:</label>
                            <input type="text" id="myDatepicker">
                            <div class="row">
                                <div class="col-12 text-center mt-3">
                                    <button id="updateDateButton" class="btn btn-primary btn-sm mx-auto"
                                        data-bs-toggle="modal" data-bs-target="#successModal"
                                        onclick="setPickUpDate('{{orders._id}}')" disabled>Submit</button>
                                </div>
                            </div>
                        </div>



                        {{/if}}
                        {{!-- <div class="box shadow-sm bg-light mt-3">
                            <h6 class="mb-15">Payment info</h6>
                            <p>
                                <img src="/assets/imgs/card-brands/2.png" class="border" height="20"> Master Card ****
                                **** 4768 <br>
                                Business name: Grand Market LLC <br>
                                Phone: +1 (800) 555-154-52
                            </p>
                        </div> --}}
                    </div> <!-- col// -->
                </div>
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
    </section> <!-- content-main end// -->

    <!-- Modal for showing a success message for date updation -->
    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-success">
                <div class="modal-header border-0">
                    <button type="button" class="btn-close text-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body text-center p-4">
                    <i class="fas fa-check-circle fa-4x text-white mb-3"></i>
                    <h5 class="modal-title text-white mb-3" id="successModalLabel">Success</h5>
                    <p class="text-white">The date has been successfully updated.</p>
                    <form id="successForm">
                        <input type="hidden" id="orderId" value="">
                    </form>
                    <button type="button" class="btn mt-3 text-dark"
                        style="background-color: #FFFFFF; color: #000000; border-color: #FFFFFF;"
                        onmouseover="this.style.backgroundColor='#F5F5F5'; this.style.color='#000000';"
                        onmouseout="this.style.backgroundColor='#FFFFFF'; this.style.color='#000000';"
                        data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>



    {{>admin-footer}}
    <!-- Include the Bootstrap Datepicker CSS and JS files -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#myDatepicker').datepicker({
                format: "dd-mm-yyyy",
                autoclose: true,
                startDate: new Date(),
            });

            // add event listener to datepicker input
            $('#myDatepicker').on('change', function () {
                // check if input value is not empty
                if ($(this).val() !== '') {
                    // enable submit button
                    $('#updateDateButton').prop('disabled', false);
                } else {
                    // disable submit button
                    $('#updateDateButton').prop('disabled', true);
                }
            });
        });


        const setPickUpDate = (orderId) => {
            const pickupdate = document.getElementById('myDatepicker').value
            $.ajax({
                url: '/admin/set-pick-up-date',
                data: {
                    orderId,
                    pickupdate
                },
                method: 'post'
            })
        }
    </script>