{{>admin-head-html}}
<div class="screen-overlay"></div>
{{>admin-navbar}}
<main class="main-wrap">
    {{>admin-header}}
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Products List</h2>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="me-5">
                {{!-- <a href="#" class="btn btn-light rounded font-md">Export</a>
                <a href="#" class="btn btn-light rounded  font-md">Import</a> --}}
                <a href="/admin/dashboard/view-products-in-list/add-products" class="btn btn-primary btn-sm rounded">Create new</a>
            </div>
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <div class="row align-items-center">
                    <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                        <select class="form-select" id="category-filter">
                            <option selected disabled>category</option>
                            <option value="all">Show all</option>
                            <option value="mens">Mens</option>
                            <option value="womens">Womens</option>
                            <option value="kids">Kids</option>
                        </select>
                    </div>
                    <div class="col-md-2 col-6">
                        <input type="date" value="02.05.2021" class="form-control">
                    </div>
                    <div class="col-md-2 col-6">
                        <select class="form-select" id="status-filter">
                            <option selected disabled>Status</option>
                            <option value="active">Active</option>
                            <option value="disabled">Disabled</option>
                            <option value="all">Show all</option>
                        </select>
                    </div>
                </div>
            </header> <!-- card-header end// -->
            <div class="card-body">
                <article class="itemlist">
                    <div class="row align-items-center">
                        <div class="col-lg-1 col-sm-1 col-3 col-price">
                            <h6>Id</h6>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-7 flex-grow-1 col-name">
                            <h6>Product Name</h6>
                        </div>
                        <div class="col-lg-2 col-sm-2 col-4 col-price">
                            <h6>Price</h6>
                        </div>
                        <div class="col-lg-2 col-sm-2 col-4 col-price">
                            <h6>Category</h6>
                        </div>
                        <div class="col-lg-2 col-sm-2 col-4 col-status">
                            <h6>Status</h6>
                        </div>
                        {{!-- <div class="col-lg-1 col-sm-2 col-4 col-date">
                            <h6>Date</h6>
                        </div> --}}
                        <div class="col-lg-2 col-sm-2 col-4 col-action ">
                            <h6 class="">Actions</h6>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <!-- existing code here -->
                    </div>
                </article>

                {{#each products}}
                <article class="itemlist product-item">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                            <a class="itemside" href="#">
                                {{inc @index}}
                                <div class=" ms-3 left">
                                    <img src="{{images.image1}}" class="img-sm img-thumbnail" alt="Item">
                                </div>
                                <div class="info">
                                    <h6 class="mb-0">{{product_title}}</h6>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-sm-2 col-4 col-price"> <span>${{product_price}}</span> </div>
                        <div class="col-lg-2 col-sm-2 col-4 col-category category"> <span>{{product_category}}</span>
                        </div>
                        <div class="col-lg-2 col-sm-2 col-4 col-status status">
                            {{#if isActive}}
                            <span class="badge rounded-pill alert-success">Active</span>
                            {{else}}
                            <span class="badge rounded-pill alert-danger">Disabled</span>
                            {{/if}}

                        </div>
                        {{!-- <div class="col-lg-1 col-sm-2 col-4 col-date">
                            <span>02.11.2021</span>
                        </div> --}}
                        <div class="col-lg-2 col-sm-2 col-4 col-action ">
                            <a href="/admin/dashboard/view-product-list/edit-products-list/{{_id}}"
                                class="btn btn-sm font-sm rounded btn-warning text-white" title="Edit">
                                <i class="material-icons md-edit"></i>
                            </a>
                            {{#if isActive}}
                            <a id="disable" class="btn btn-sm font-sm btn-danger rounded"
                                onclick="disableEnableProduct('{{_id}}',{{isActive}})">
                                <i class="material-icons md-delete_forever" title="Disable"></i><span
                                    id="change"></span>
                            </a>
                            <a id="disable" class="btn btn-sm font-sm   rounded"
                                href="/admin/dashboard/view-product-list/add-offers-for-products?id={{_id}}&&price={{product_price}}"
                                style="background-color: purple;color: #fff;">
                                <i class="fas fa-tag " title="Add offer"></i><span id="change"></span>
                            </a>
                            {{else}}
                            <a id="enable" class="btn btn-sm font-sm btn-success rounded"
                                onclick="disableEnableProduct('{{_id}}',{{isActive}})" title="Enable">
                                <i class="fas fa-unlock text-white"></i>
                            </a>
                            {{/if}}
                        </div>
                    </div> <!-- row .// -->
                </article> <!-- itemlist  .// -->
                {{/each}}


            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
        <div class="pagination-area mt-30 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                    <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">16</a></li>
                    <li class="page-item"><a class="page-link" href="#"><i
                                class="material-icons md-chevron_right"></i></a></li>
                </ul>
            </nav>
        </div>
    </section> <!-- content-main end// -->
    {{>admin-footer}}

    <script>
        const disableEnableProduct = (productId, isActive) => {
            $.ajax({
                url: "/admin/dashboard/view-product-list/diable-and-enable-products",
                data: {
                    productId: productId,
                    isActive: isActive
                },
                method: 'post',
                success: (res) => {
                    location.reload();
                }
            })

        }

    </script>
    <script>
        function filterList() {
            var status = document.getElementById("status-filter").value;
            var items = document.getElementsByClassName("product-item");
            for (var i = 0; i < items.length; i++) {
                var itemStatus = items[i].getElementsByClassName("status")[0];
                if (status === "all" || itemStatus.textContent.toLowerCase().indexOf(status) !== -1) {
                    items[i].style.display = "block";
                } else {
                    items[i].style.display = "none";
                }
            }
        }
        // add event listener to the status dropdown
        document.getElementById('status-filter').addEventListener('change', filterList);



        function filterByCategory() {
            var category = document.getElementById("category-filter").value;
            var items = document.getElementsByClassName("product-item");
            for (var i = 0; i < items.length; i++) {
                var itemCategory = items[i].getElementsByClassName("category")[0];
                if (category === "all" || itemCategory.textContent.toLowerCase().indexOf(category) !== -1) {
                    items[i].style.display = "block";
                } else {
                    items[i].style.display = "none";
                }
            }
        }



        // add event listener to the catogory dropdown
        document.getElementById('category-filter').addEventListener('change', filterByCategory);


    </script>