{{>head-user}}
{{>user-header}}

<div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-danger">
            <div class="modal-header border-0">
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center p-4">
                <i class="fas fa-exclamation-circle fa-4x text-white mb-3"></i>
                <h5 class="modal-title text-white mb-3" id="cancelModalLabel">Cancel Order</h5>
                <form id="cancelForm">
                    <div class="mb-3">
                        <label for="reason" class="form-label text-white">Reason for cancellation:</label>
                        <select class="form-select" id="reason" name="reason">
                            <option value="" selected disabled>Select a reason</option>
                            <option value="not available">Item not available</option>
                            <option value="wrong item">Wrong item ordered</option>
                            <option value="delayed delivery">Delivery delayed</option>
                            <option value="others">Other</option>
                        </select>
                    </div>
                    <div class="mb-3" id="otherReasonContainer" style="display:none;">
                        <label for="otherReason" class="form-label text-white">Other reason:</label>
                        <textarea class="form-control" id="otherReason" name="otherReason"></textarea>
                    </div>
                    <button type="button" class="btn btn-sm btn-link text-white" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-sm btn-light px-3 py-2 me-2"
                        onclick="cancellOrderModal()">Submit</button>
                    <input type="hidden" id="orderId" value="">
                </form>
            </div>
        </div>
    </div>
</div>


{{!-- Modal for returning the product --}}
	<div class="modal fade" id="returnModal" tabindex="-1" aria-labelledby="returnModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content bg-danger">
				<div class="modal-header border-0">
					<button type="button" class="btn-close text-white" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body text-center p-4">
					<i class="fas fa-exclamation-circle fa-4x text-white mb-3"></i>
					<h5 class="modal-title text-white mb-3" id="returnModalLabel">Return Order</h5>
					<form id="returnForm">
						<div class="mb-3">
							<label for="reason" class="form-label text-white">Reason for return:</label>
							<select class="form-select" id="reason" name="reason">
								<option value="" selected disabled>Select a reason</option>
								<option value="defective item">Defective item</option>
								<option value="wrong item">Wrong item received</option>
								<option value="damaged item">Item arrived damaged</option>
								<option value="others">Other</option>
							</select>
						</div>
						<div class="mb-3" id="otherReasonContainer" style="display:none;">
							<label for="otherReason" class="form-label text-white">Other reason:</label>
							<textarea class="form-control" id="otherReason" name="otherReason"></textarea>
						</div>
						<button type="button" class="btn btn-sm btn-link text-white"
							data-bs-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-sm btn-light px-3 py-2 me-2"
							onclick="returnOrderModal()">Submit</button>
						<input type="hidden" id="orderId" value="">
					</form>
				</div>
			</div>
		</div>
	</div>




<div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-top">
            <div class="mobile-header-logo">
                <a href="index.html"><img src="/imgs/theme/logo.svg" alt="logo"></a>
            </div>
            <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                <button class="close-style search-close">
                    <i class="icon-top"></i>
                    <i class="icon-bottom"></i>
                </button>
            </div>
        </div>
        <div class="mobile-header-content-area">
            <div class="mobile-search search-style-3 mobile-header-border">
                <form action="#">
                    <input type="text" placeholder="Search for items…">
                    <button type="submit"><i class="fi-rs-search"></i></button>
                </form>
            </div>
            <div class="mobile-menu-wrap mobile-header-border">
                <div class="main-categori-wrap mobile-header-border">
                    <a class="categori-button-active-2" href="#">
                        <span class="fi-rs-apps"></span> Browse Categories
                    </a>
                    <div class="categori-dropdown-wrap categori-dropdown-active-small">
                        <ul>
                            <li><a href="shop-grid-right.html"><i class="evara-font-dress"></i>Women's Clothing</a>
                            </li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-tshirt"></i>Men's Clothing</a>
                            </li>
                            <li> <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i> Cellphones</a>
                            </li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Computer &
                                    Office</a></li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Consumer
                                    Electronics</a></li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-home"></i>Home & Garden</a></li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-high-heels"></i>Shoes</a></li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-teddy-bear"></i>Mother &
                                    Kids</a></li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-kite"></i>Outdoor fun</a></li>
                        </ul>
                    </div>
                </div>
                <!-- mobile menu start -->
                <nav>
                    <ul class="mobile-menu">
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                href="index.html">Home</a>
                            <ul class="dropdown">
                                <li><a href="index.html">Home 1</a></li>
                                <li><a href="index-2.html">Home 2</a></li>
                                <li><a href="index-3.html">Home 3</a></li>
                                <li><a href="index-4.html">Home 4</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                href="shop-grid-right.html">shop</a>
                            <ul class="dropdown">
                                <li><a href="shop-grid-right.html">Shop Grid – Right Sidebar</a></li>
                                <li><a href="shop-grid-left.html">Shop Grid – Left Sidebar</a></li>
                                <li><a href="shop-list-right.html">Shop List – Right Sidebar</a></li>
                                <li><a href="shop-list-left.html">Shop List – Left Sidebar</a></li>
                                <li><a href="shop-fullwidth.html">Shop - Wide</a></li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Single
                                        Product</a>
                                    <ul class="dropdown">
                                        <li><a href="shop-product-right.html">Product – Right Sidebar</a></li>
                                        <li><a href="shop-product-left.html">Product – Left Sidebar</a></li>
                                        <li><a href="shop-product-full.html">Product – No sidebar</a></li>
                                    </ul>
                                </li>
                                <li><a href="shop-filter.html">Shop – Filter</a></li>
                                <li><a href="shop-wishlist.html">Shop – Wishlist</a></li>
                                <li><a href="shop-cart.html">Shop – Cart</a></li>
                                <li><a href="shop-checkout.html">Shop – Checkout</a></li>
                                <li><a href="shop-compare.html">Shop – Compare</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Mega
                                menu</a>
                            <ul class="dropdown">
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Women's
                                        Fashion</a>
                                    <ul class="dropdown">
                                        <li><a href="shop-product-right.html">Dresses</a></li>
                                        <li><a href="shop-product-right.html">Blouses & Shirts</a></li>
                                        <li><a href="shop-product-right.html">Hoodies & Sweatshirts</a></li>
                                        <li><a href="shop-product-right.html">Women's Sets</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Men's
                                        Fashion</a>
                                    <ul class="dropdown">
                                        <li><a href="shop-product-right.html">Jackets</a></li>
                                        <li><a href="shop-product-right.html">Casual Faux Leather</a></li>
                                        <li><a href="shop-product-right.html">Genuine Leather</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                        href="#">Technology</a>
                                    <ul class="dropdown">
                                        <li><a href="shop-product-right.html">Gaming Laptops</a></li>
                                        <li><a href="shop-product-right.html">Ultraslim Laptops</a></li>
                                        <li><a href="shop-product-right.html">Tablets</a></li>
                                        <li><a href="shop-product-right.html">Laptop Accessories</a></li>
                                        <li><a href="shop-product-right.html">Tablet Accessories</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                href="blog-category-fullwidth.html">Blog</a>
                            <ul class="dropdown">
                                <li><a href="blog-category-grid.html">Blog Category Grid</a></li>
                                <li><a href="blog-category-list.html">Blog Category List</a></li>
                                <li><a href="blog-category-big.html">Blog Category Big</a></li>
                                <li><a href="blog-category-fullwidth.html">Blog Category Wide</a></li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Single
                                        Product Layout</a>
                                    <ul class="dropdown">
                                        <li><a href="blog-post-left.html">Left Sidebar</a></li>
                                        <li><a href="blog-post-right.html">Right Sidebar</a></li>
                                        <li><a href="blog-post-fullwidth.html">No Sidebar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="page-about.html">About Us</a></li>
                                <li><a href="page-contact.html">Contact</a></li>
                                <li><a href="page-account.html">My Account</a></li>
                                <li><a href="page-login-register.html">login/register</a></li>
                                <li><a href="page-purchase-guide.html">Purchase Guide</a></li>
                                <li><a href="page-privacy-policy.html">Privacy Policy</a></li>
                                <li><a href="page-terms.html">Terms of Service</a></li>
                                <li><a href="page-404.html">404 Page</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Language</a>
                            <ul class="dropdown">
                                <li><a href="#">English</a></li>
                                <li><a href="#">French</a></li>
                                <li><a href="#">German</a></li>
                                <li><a href="#">Spanish</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- mobile menu end -->
            </div>
            <div class="mobile-header-info-wrap mobile-header-border">
                <div class="single-mobile-header-info mt-30">
                    <a href="page-contact.html"> Our location </a>
                </div>
                <div class="single-mobile-header-info">
                    <a href="page-login-register.html">Log In / Sign Up </a>
                </div>
                <div class="single-mobile-header-info">
                    <a href="#">(+01) - 2345 - 6789 </a>
                </div>
            </div>
            <div class="mobile-social-icon">
                <h5 class="mb-15 text-grey-4">Follow Us</h5>
                <a href="#"><img src="/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                <a href="#"><img src="/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                <a href="#"><img src="/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                <a href="#"><img src="/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                <a href="#"><img src="/imgs/theme/icons/icon-youtube.svg" alt=""></a>
            </div>
        </div>
    </div>
</div>
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Shop
                <span></span> Wishlist
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">




                        <table class="table  shopping-summery text-center">
                            <thead>
                                <tr class="main-heading">
                                    <th scope="col" class="col-3">OrderId</th>
                                    <th scope="col" class="col-2">Date</th>
                                    <th scope="col" class="price col-2">Price</th>
                                    <th scope="col" class="price col-2">Status</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each orderGroup}}
                                <tr>
                                    <td class="col-3"><a href="/view-order-bundle/{{_id}}" style="" title="{{products.length}} products">{{_id}}</a></td>
                                    <td class="col-2"> {{formatDate date}}</td>
                                    <td class="price col-2" data-title="Price"><span>{{ formatCurrency
                                            offerTotal}}</span></td>
                                    {{#if (eq status "placed")}}
                                    <td class="price col-2"> <span
                                            class="badge rounded-pill alert-success">Placed</span></td>
                                    {{else if (eq status "pending")}}
                                    <td class="price col-2"><span
                                            class="badge rounded-pill alert-warning">Pending</span></td>
                                    {{else if (eq status "cancelled")}}
                                    <td class="price col-2"><span
                                            class="badge rounded-pill alert-danger">Canceled</span></td>
                                    {{else if (eq status "confirmed")}}
                                    <td class="price col-2"><span
                                            class="badge rounded-pill alert-warning">Confirmed</span></td>
                                    {{else if (eq status "shipped")}}
                                    <td class="price col-2"><span
                                            class="badge rounded-pill alert-primary">Shipped</span></td>
                                    {{else if (eq status "delivery")}}
                                    <td class="price col-2"><span class="badge rounded-pill alert-info">Delivery</span>
                                    </td>
                                    {{else if (eq status "completed")}}
                                    <td class="price col-2"><span
                                            class="badge rounded-pill alert-secondary">Completed</span></td>
                                    {{/if}}
                                    <td>
                                        <div class="action-icons">
                                            {{#or (eq status "cancelled") (eq status "pending")}}
                                            <button  style="font-size: 24px;background-color: transparent;color: none;border: none;"
                                                class=" text-warning text-center" title="Help">
                                          <i class="las la-info-circle"  style="font-size: 24px;"></i>
                                            </button>
                                            {{else}}
                                            {{#if (eq status "completed")}}
                                                         
                                            {{#if (not returnStatus)}}
                                            <button id="returnBtn"
                                                style="font-size: 24px;background-color: transparent;color: none;border: none;"
                                                onclick="setReturnData('{{_id}}')"
                                                class="  text-danger  text-center" title="Return"
                                                 data-bs-toggle="modal" data-bs-target="#returnModal">
                                                <i class="las la-truck-loading" style="font-size: 24px;"></i></button>
                                                {{/if}}
                                            {{else}}
                                            <button id="cancelBtn"
                                                style="font-size: 24px;background-color: transparent;border: none;"
                                                onclick="setOrderCancellData('{{_id}}')" class="  text-danger"
                                                	data-bs-toggle="modal" data-bs-target="#cancelModal" title="Cancel">
                                                <i class="las la-times-circle"></i>
                                            </button>

                                            {{/if}}
                                            
                                            {{/or}}
                                            <a href="/track-order/{{_id}}" class=" text-success"
                                                style="font-size: 24px;background-color: transparent;border: none;" title="Track">
                                                <i class="las la-map-marker-alt" style="font-size: 24px;"></i>
                                            </a>
                                            <a class=" text-primary text-center"
                                                style="font-size: 24px;background-color: transparent;border: none;" href="/view-order-bundle/{{_id}}"> <i
                                                    class="las la-eye" style="font-size: 24px;" title="View more"></i></a>

                                            <p><i class="3-dots fa fa-ellipsis-h"></i></p>
                                        </div>
                                    </td>

                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>



                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

{{>foot-user}}
<style>
    tr{
        height: 60px;

    }
    .action-icons button {
        display: none;
    }

    .action-icons a {
        display: none;
    }

    tr:hover .action-icons button {
        display: inline-block;
    }

    tr:hover .action-icons a {
        display: inline-block;
    }

    tr:hover .action-icons p {
        display: none;
    }

    tr:hover {
        height: 65px;
        background-color: #f4f4f4;
    }
</style>

<script>

    function setReturnData(orderId) {
		document.getElementById('orderId').value = orderId
	}
    const returnOrderModal = () => {
		const orderId = document.getElementById('orderId').value
		const reason = document.getElementById('reason').value
		returnProducts(orderId, reason)
	}
    const returnProducts = (orderId, reason) => {
		$.ajax({
			url: '/return-products',
			data: {
				orderId,
				reason
			},
			method: 'post',
			success: () => {
				location.href = '/return-prducts'
			}

		})
	}

</script>