{{>head-user}}


{{!-- Modal for editing the reiveiw --}}
<div class="modal fade" id="edit-review-modal" tabindex="-1" role="dialog" aria-labelledby="edit-review-modal-label"
    aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edit-review-modal-label">Edit Review</h5>
                <button style="border: none;background-color: transparent;" type="button" class="close mb-3"
                    data-bs-dismiss="modal" aria-label="Close">
                    <i class="las la-times" style="font-size: 16px;"></i>
                </button>
            </div>
            <div class="modal-body">

                <div class="d-flex align-items-center justify-content-center ">
                    <div class="product-rating-edit mb-3">
                        <i class="fas fa-star" data-rating="1"></i>
                        <i class="fas fa-star" data-rating="2"></i>
                        <i class="fas fa-star" data-rating="3"></i>
                        <i class="fas fa-star" data-rating="4"></i>
                        <i class="fas fa-star" data-rating="5"></i>
                    </div>
                    <input type="hidden" id="product-rating-value" name="product-rating-value" value="">

                </div>

                <div class="form-group">
                    <label for="review-text-input" class="col-form-label">Review:</label>
                    <textarea style="height: 100px;" class="form-control" id="review-edit-text-input" cols="20"
                        rows="10"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="edit-review">Save changes</button>
            </div>
        </div>
    </div>

</div>

<!-- Modal success revie update-->
<div class="modal fade" id="successModal-review" tabindex="-1" role="dialog" aria-labelledby="successModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Review Updated</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Your review has been updated successfully.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="success-close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal review failure -->
<div class="modal fade" id="errorModal-review" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Review Update Failed</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Sorry, there was an error updating your review. Please try again later.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="error-close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<!-- Quick view -->
<div class="modal fade custom-modal" id="quickViewModal" tabindex="-1" aria-labelledby="quickViewModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="detail-gallery">
                            <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                            <!-- MAIN SLIDES -->
                            <div class="product-image-slider">
                                <figure class="border-radius-10">
                                    <img src="{{product.images.image5}}" id="image-hover" alt="product image">
                                </figure>
                                <figure class="border-radius-10">
                                    <img src="{{product.images.image5}}" id="hover-img" alt="product image">
                                </figure>
                                <figure class="border-radius-10">
                                    <img src="/imgs/shop/product-16-3.jpg" alt="product image">
                                </figure>
                                <figure class="border-radius-10">
                                    <img src="/imgs/shop/product-16-4.jpg" alt="product image">
                                </figure>
                                <figure class="border-radius-10">
                                    <img src="/imgs/shop/product-16-5.jpg" alt="product image">
                                </figure>
                                <figure class="border-radius-10">
                                    <img src="/imgs/shop/product-16-6.jpg" alt="product image">
                                </figure>
                                <figure class="border-radius-10">
                                    <img src="/imgs/shop/product-16-7.jpg" alt="product image">
                                </figure>
                            </div>
                            <!-- THUMBNAILS -->
                            <div class="slider-nav-thumbnails pl-15 pr-15">
                                <div><img src="/imgs/shop/thumbnail-3.jpg" alt="product image"></div>
                                <div><img src="/imgs/shop/thumbnail-4.jpg" alt="product image"></div>
                                <div><img src="/imgs/shop/thumbnail-5.jpg" alt="product image"></div>
                                <div><img src="/imgs/shop/thumbnail-6.jpg" alt="product image"></div>
                                <div><img src="/imgs/shop/thumbnail-7.jpg" alt="product image"></div>
                                <div><img src="/imgs/shop/thumbnail-8.jpg" alt="product image"></div>
                                <div><img src="/imgs/shop/thumbnail-9.jpg" alt="product image"></div>
                            </div>
                        </div>
                        <!-- End Gallery -->
                        <div class="social-icons single-share">
                            <ul class="text-grey-5 d-inline-block">
                                <li><strong class="mr-10">Share this:</strong></li>
                                <li class="social-facebook"><a href="#"><img src="/imgs/theme/icons/icon-facebook.svg"
                                            alt=""></a></li>
                                <li class="social-twitter"> <a href="#"><img src="/imgs/theme/icons/icon-twitter.svg"
                                            alt=""></a></li>
                                <li class="social-instagram"><a href="#"><img src="/imgs/theme/icons/icon-instagram.svg"
                                            alt=""></a></li>
                                <li class="social-linkedin"><a href="#"><img src="/imgs/theme/icons/icon-pinterest.svg"
                                            alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="detail-info">
                            <h3 class="title-detail mt-30">Colorful Pattern Shirts HD450</h3>
                            <div class="product-detail-rating">
                                <div class="pro-details-brand">
                                    <span> Brands: <a href="shop-grid-right.html">Bootstrap</a></span>
                                </div>
                                <div class="product-rate-cover text-end">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width:90%">
                                        </div>
                                    </div>
                                    <span class="font-small ml-5 text-muted"> ({{reviews}} reviews)</span>
                                </div>
                            </div>
                            <div class="clearfix product-price-cover">
                                <div class="product-price primary-color float-left">
                                    <ins><span class="text-brand">$120.00</span></ins>
                                    <ins><span class="old-price font-md ml-15">$200.00</span></ins>
                                    <span class="save-price  font-md color3 ml-15">25% Off</span>
                                </div>
                            </div>
                            <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                            <div class="short-desc mb-30">
                                <p class="font-sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam rem
                                    officia, corrupti reiciendis minima nisi modi,!</p>
                            </div>
                            <div class="attr-detail attr-color mb-15">
                                <strong class="mr-10">Color</strong>
                                <ul class="list-filter color-filter">
                                    <li><a href="#" data-color="Red"><span class="product-color-red"></span></a></li>
                                    <li><a href="#" data-color="Yellow"><span class="product-color-yellow"></span></a>
                                    </li>
                                    <li class="active"><a href="#" data-color="White"><span
                                                class="product-color-white"></span></a></li>
                                    <li><a href="#" data-color="Orange"><span class="product-color-orange"></span></a>
                                    </li>
                                    <li><a href="#" data-color="Cyan"><span class="product-color-cyan"></span></a></li>
                                    <li><a href="#" data-color="Green"><span class="product-color-green"></span></a>
                                    </li>
                                    <li><a href="#" data-color="Purple"><span class="product-color-purple"></span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="attr-detail attr-size">
                                <strong class="mr-10">Size</strong>
                                <ul class="list-filter size-filter font-small">
                                    <li><a href="#">S</a></li>
                                    <li class="active"><a href="#">M</a></li>
                                    <li><a href="#">L</a></li>
                                    <li><a href="#">XL</a></li>
                                    <li><a href="#">XXL</a></li>
                                </ul>
                            </div>
                            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                            <div class="detail-extralink">
                                <div class="detail-qty border radius">
                                    <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                    <span class="qty-val">1</span>
                                    <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                </div>
                                <div class="product-extra-link2">
                                    <button type="submit" class="button button-add-to-cart">Add to cart</button>
                                    <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                        href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                    <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i
                                            class="fi-rs-shopping-bag-add"></i></a>
                                </div>
                            </div>
                            <ul class="product-meta font-xs color-grey mt-50">
                                <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>
                                <li class="mb-5">Tags: <a href="#" rel="tag">Cloth</a>, <a href="#" rel="tag">Women</a>,
                                    <a href="#" rel="tag">Dress</a>
                                </li>
                                <li>Availability:<span class="in-stock text-success ml-5">8 Items In Stock</span></li>
                            </ul>
                        </div>
                        <!-- Detail Info -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{>user-header}}
<div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-top">
            <div class="mobile-header-logo">
                <a href="index.html"><img src="/imgs/theme/logo.svg" alt="logo"></a>
            </div>
            <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                <button class="close-style search-close">
                    <i class="icon-top"></i>
                    <i class="icon-bottom"></i>
                </button>
            </div>
        </div>
        <div class="mobile-header-content-area">
            <div class="mobile-search search-style-3 mobile-header-border">
                <form action="#">
                    <input type="text" placeholder="Search for items…">
                    <button type="submit"><i class="fi-rs-search"></i></button>
                </form>
            </div>
            <div class="mobile-menu-wrap mobile-header-border">
                <div class="main-categori-wrap mobile-header-border">
                    <a class="categori-button-active-2" href="#">
                        <span class="fi-rs-apps"></span> Browse Categories
                    </a>
                    <div class="categori-dropdown-wrap categori-dropdown-active-small">
                        <ul>
                            <li><a href="shop-grid-right.html"><i class="evara-font-dress"></i>Women's Clothing</a></li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-tshirt"></i>Men's Clothing</a></li>
                            <li> <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i> Cellphones</a>
                            </li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Computer & Office</a>
                            </li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Consumer Electronics</a>
                            </li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-home"></i>Home & Garden</a></li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-high-heels"></i>Shoes</a></li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-teddy-bear"></i>Mother & Kids</a>
                            </li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-kite"></i>Outdoor fun</a></li>
                        </ul>
                    </div>
                </div>
                <!-- mobile menu start -->
                <nav>
                    <ul class="mobile-menu">
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                href="index.html">Home</a>
                            <ul class="dropdown">
                                <li><a href="index.html">Home 1</a></li>
                                <li><a href="index-2.html">Home 2</a></li>
                                <li><a href="index-3.html">Home 3</a></li>
                                <li><a href="index-4.html">Home 4</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                href="shop-grid-right.html">shop</a>
                            <ul class="dropdown">
                                <li><a href="shop-grid-right.html">Shop Grid – Right Sidebar</a></li>
                                <li><a href="shop-grid-left.html">Shop Grid – Left Sidebar</a></li>
                                <li><a href="shop-list-right.html">Shop List – Right Sidebar</a></li>
                                <li><a href="shop-list-left.html">Shop List – Left Sidebar</a></li>
                                <li><a href="shop-fullwidth.html">Shop - Wide</a></li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Single
                                        Product</a>
                                    <ul class="dropdown">
                                        <li><a href="shop-product-right.html">Product – Right Sidebar</a></li>
                                        <li><a href="shop-product-left.html">Product – Left Sidebar</a></li>
                                        <li><a href="shop-product-full.html">Product – No sidebar</a></li>
                                    </ul>
                                </li>
                                <li><a href="shop-filter.html">Shop – Filter</a></li>
                                <li><a href="shop-wishlist.html">Shop – Wishlist</a></li>
                                <li><a href="shop-cart.html">Shop – Cart</a></li>
                                <li><a href="shop-checkout.html">Shop – Checkout</a></li>
                                <li><a href="shop-compare.html">Shop – Compare</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Mega menu</a>
                            <ul class="dropdown">
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Women's
                                        Fashion</a>
                                    <ul class="dropdown">
                                        <li><a href="shop-product-right.html">Dresses</a></li>
                                        <li><a href="shop-product-right.html">Blouses & Shirts</a></li>
                                        <li><a href="shop-product-right.html">Hoodies & Sweatshirts</a></li>
                                        <li><a href="shop-product-right.html">Women's Sets</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Men's
                                        Fashion</a>
                                    <ul class="dropdown">
                                        <li><a href="shop-product-right.html">Jackets</a></li>
                                        <li><a href="shop-product-right.html">Casual Faux Leather</a></li>
                                        <li><a href="shop-product-right.html">Genuine Leather</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                        href="#">Technology</a>
                                    <ul class="dropdown">
                                        <li><a href="shop-product-right.html">Gaming Laptops</a></li>
                                        <li><a href="shop-product-right.html">Ultraslim Laptops</a></li>
                                        <li><a href="shop-product-right.html">Tablets</a></li>
                                        <li><a href="shop-product-right.html">Laptop Accessories</a></li>
                                        <li><a href="shop-product-right.html">Tablet Accessories</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                href="blog-category-fullwidth.html">Blog</a>
                            <ul class="dropdown">
                                <li><a href="blog-category-grid.html">Blog Category Grid</a></li>
                                <li><a href="blog-category-list.html">Blog Category List</a></li>
                                <li><a href="blog-category-big.html">Blog Category Big</a></li>
                                <li><a href="blog-category-fullwidth.html">Blog Category Wide</a></li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Single
                                        Product Layout</a>
                                    <ul class="dropdown">
                                        <li><a href="blog-post-left.html">Left Sidebar</a></li>
                                        <li><a href="blog-post-right.html">Right Sidebar</a></li>
                                        <li><a href="blog-post-fullwidth.html">No Sidebar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="page-about.html">About Us</a></li>
                                <li><a href="page-contact.html">Contact</a></li>
                                <li><a href="page-account.html">My Account</a></li>
                                <li><a href="page-login-register.html">login/register</a></li>
                                <li><a href="page-purchase-guide.html">Purchase Guide</a></li>
                                <li><a href="page-privacy-policy.html">Privacy Policy</a></li>
                                <li><a href="page-terms.html">Terms of Service</a></li>
                                <li><a href="page-404.html">404 Page</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Language</a>
                            <ul class="dropdown">
                                <li><a href="#">English</a></li>
                                <li><a href="#">French</a></li>
                                <li><a href="#">German</a></li>
                                <li><a href="#">Spanish</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- mobile menu end -->
            </div>
            <div class="mobile-header-info-wrap mobile-header-border">
                <div class="single-mobile-header-info mt-30">
                    <a href="page-contact.html"> Our location </a>
                </div>
                <div class="single-mobile-header-info">
                    <a href="page-login-register.html">Log In / Sign Up </a>
                </div>
                <div class="single-mobile-header-info">
                    <a href="#">(+01) - 2345 - 6789 </a>
                </div>
            </div>
            <div class="mobile-social-icon">
                <h5 class="mb-15 text-grey-4">Follow Us</h5>
                <a href="#"><img src="/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                <a href="#"><img src="/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                <a href="#"><img src="/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                <a href="#"><img src="/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                <a href="#"><img src="/imgs/theme/icons/icon-youtube.svg" alt=""></a>
            </div>
        </div>
    </div>
</div>
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Fashion
                <span></span> Abstract Print Patchwork Dress
            </div>
        </div>
    </div>

    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="product-detail accordion-detail">
                        <div class="row mb-50">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="detail-gallery">
                                    <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                    <!-- MAIN SLIDES -->
                                    <div class="product-image-slider">
                                        <figure class="border-radius-10">
                                            <img src="{{product.images.image1}}" id="image-one" alt="product image"
                                                style="object-fit: fill;height: 100%;">
                                        </figure>
                                        <figure class="border-radius-10">
                                            <img src="{{product.images.image2}}" id="image-two" alt="product image">
                                        </figure>
                                        <figure class="border-radius-10">
                                            <img src="{{product.images.image3}}" id="image-three" alt="product image">
                                        </figure>
                                        <figure class="border-radius-10">
                                            <img src="{{product.images.image4}}" id="image-four" alt="product image">
                                        </figure>
                                        <figure class="border-radius-10">
                                            <img src="{{product.images.image5}}" id="image-five" alt="product image">
                                        </figure>
                                    </div>
                                    <!-- THUMBNAILS -->
                                    <div class="slider-nav-thumbnails pl-15 pr-15">
                                        <div ><img id="thumbanil-one" src="{{product.images.image1}}"  alt="product image"></div>
                                        <div><img id="thumbanil-two" src="{{product.images.image2}}" alt="product image"></div>
                                        <div><img id="thumbanil-three" src="{{product.images.image3}}" alt="product image"></div>
                                        <div><img id="thumbanil-four" src="{{product.images.image4}}" alt="product image"></div>
                                        <div><img id="thumbanil-five" src="{{product.images.image5}}" alt="product image"></div>
                                    </div>
                                </div>
                                <!-- End Gallery -->
                                <div class="social-icons single-share">
                                    <ul class="text-grey-5 d-inline-block">
                                        <li><strong class="mr-10">Share this:</strong></li>
                                        <li class="social-facebook"><a href="#"><img
                                                    src="/imgs/theme/icons/icon-facebook.svg" alt=""></a></li>
                                        <li class="social-twitter"> <a href="#"><img
                                                    src="/imgs/theme/icons/icon-twitter.svg" alt=""></a></li>
                                        <li class="social-instagram"><a href="#"><img
                                                    src="/imgs/theme/icons/icon-instagram.svg" alt=""></a></li>
                                        <li class="social-linkedin"><a href="#"><img
                                                    src="/imgs/theme/icons/icon-pinterest.svg" alt=""></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                            <input type="hidden" name="" id="product-id" value="">
                                <div class="detail-info">
                                    <h2 class="title-detail">{{parent.product_name}}</h2>
                                    <div class="product-detail-rating">
                                        <div class="pro-details-brand">
                                            <span> Brands: <a
                                                    href="shop-grid-right.html">{{product.product_brand}}</a></span>
                                        </div>
                                        <div class="product-rate-cover text-end">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width:90%">
                                                </div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> ({{reviews}} reviews)</span>
                                        </div>
                                    </div>
                                    <div class="clearfix product-price-cover">
                                        <div class="product-price primary-color float-left">
                                            {{#if product.offerPrice}}
                                            <ins><span class="text-brand">{{formatCurrency
                                                    product.offerPrice}}</span></ins>
                                            {{else}}
                                            <ins><span class="text-brand">{{formatCurrency
                                                    product.product_price}}</span></ins>
                                            {{/if}}
                                            <ins><span class="old-price font-md ml-15">{{formatCurrency
                                                    product.product_price}}</span></ins>
                                            {{#if product.offerPercentage}}
                                            <span class="save-price  font-md color3 ml-15">{{product.offerPercentage}}%
                                                Off</span>
                                            {{else}}
                                            <span class="save-price  font-md color3 ml-15">0%
                                                Off</span>
                                            {{/if}}
                                        </div>
                                    </div>
                                    <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                    <div class="short-desc mb-30">
                                        <p>{{product.product_description}}</p>
                                    </div>
                                    <div class="product_sort_info font-xs mb-30">
                                        <ul>
                                            <li class="mb-10"><i class="fi-rs-crown mr-5"></i>
                                                {{product.product_warranty}}</li>
                                            <li class="mb-10"><i class="fi-rs-refresh mr-5"></i>
                                                {{product.product_return}}</li>
                                            <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available</li>
                                        </ul>
                                    </div>
                                    {{!-- <div class="attr-detail attr-color mb-15">
                                        <strong class="mr-10">Color</strong>
                                        <ul class="list-filter color-filter">
                                            <li><a href="#" data-color="Red"><span class="product-color-red"></span></a>
                                            </li>
                                            <li><a href="#" data-color="Yellow"><span
                                                        class="product-color-yellow"></span></a></li>
                                            <li class="active"><a href="#" data-color="White"><span
                                                        class="product-color-white"></span></a></li>
                                            <li><a href="#" data-color="Orange"><span
                                                        class="product-color-orange"></span></a></li>
                                            <li><a href="#" data-color="Cyan"><span
                                                        class="product-color-cyan"></span></a></li>
                                            <li><a href="#" data-color="Green"><span
                                                        class="product-color-green"></span></a></li>
                                            <li><a href="#" data-color="Purple"><span
                                                        class="product-color-purple"></span></a></li>
                                        </ul>
                                    </div> --}}

                                    <div class="attr-detail attr-color mb-15">
                                        <strong class="mr-10">Color</strong>
                                        <ul class="list-filter color-filter">
                                            <li>{{product.allowedColors}}</li>

                                            {{#each availabeColors}}
                                            <li><a onclick="changeProduct('{{this.id}}','{{../parentId}}')"
                                                    data-color="{{this.color}}"><span
                                                        class="product-color-{{lowerCase this.color}}"></span></a></li>
                                            {{!-- {{#if (includes product.availabeColors this)}}
                                            {{/if}} --}}
                                            {{/each}}
                                        </ul>
                                    </div>

                                    <div class="attr-detail attr-size">
                                        <strong class="mr-10">Size</strong>
                                        <ul class="list-filter size-filter font-small">
                                            {{#each availabeSizes}}
                                            <li><a>{{this}}</a></li>
                                            {{/each}}
                                        </ul>
                                    </div>


                                    <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                    <div class="detail-extralink">
                                        <div class="detail-qty border radius">
                                            <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                            <span class="qty-val">1</span>
                                            <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                        </div>
                                        <div class="product-extra-link2">
                                            {{!-- <a href="/proceed-to-checkout"
                                                class="button button-add-to-cart">Buy</a> --}}
                                            <input type="hidden" value="{{product._id}}" id="product_id">
                                            <button class="button button-add-to-cart"
                                                onclick="buyNow('{{product._id}}')">Buy now</button>
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                                href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                            <a aria-label="Compare" class="action-btn hover-up"
                                                href="shop-compare.html"><i class="fi-rs-shopping-bag-add"></i></a>
                                        </div>
                                    </div>
                                    <ul class="product-meta font-xs color-grey mt-50">
                                        <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>
                                        <li class="mb-5">Tags: <a href="#" rel="tag">{{parent.category}}</a>, <a
                                                href="#" rel="tag">{{parent.sub_category}}</a>, <a href="#"
                                                rel="tag">{{product.product_brand}}</a> </li>
                                        {{#if product.isActive}}
                                        <li>Availability:
                                            {{#gt product.product_quantity 5 }}
                                            <span class="in-stock text-success ml-5">Item in stock</span>
                                            {{/gt}}
                                            {{#lt product.product_quantity 5}}
                                            <span class="in-stock text-danger ml-5"> Only {{product.product_quantity}}
                                                left
                                            </span>
                                            {{/lt}}
                                        </li>

                                        {{else}}
                                        <li>Availability:<span class="in-stock text-danger ml-5">Out of stock</span>
                                        </li>
                                        {{/if}}
                                    </ul>
                                </div>
                                <!-- Detail Info -->
                            </div>
                        </div>
                        <div class="tab-style3">
                            <ul class="nav nav-tabs text-uppercase">
                                <li class="nav-item">
                                    <a class="nav-link active" id="Description-tab" data-bs-toggle="tab"
                                        href="#Reviews">Reviews</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="Reviews-tab" data-bs-toggle="tab"
                                        href="#Description">Description
                                        ({{reviews}})</a>
                                </li>
                            </ul>
                            <div class="tab-content shop_info_tab entry-main-content">
                                <div class="tab-pane fade " id="Description">
                                    <div class="">
                                        <p>Uninhibited carnally hired played in whimpered dear gorilla koala depending
                                            and much yikes off far quetzal goodness and from for grimaced goodness
                                            unaccountably and meadowlark near unblushingly crucial scallop
                                            tightly neurotic hungrily some and dear furiously this apart.</p>
                                        <p>Spluttered narrowly yikes left moth in yikes bowed this that grizzly much
                                            hello on spoon-fed that alas rethought much decently richly and wow against
                                            the frequent fluidly at formidable acceptably flapped
                                            besides and much circa far over the bucolically hey precarious goldfinch
                                            mastodon goodness gnashed a jellyfish and one however because.
                                        </p>
                                        <ul class="product-more-infor mt-30">
                                            <li><span>Type Of Packing</span> Bottle</li>
                                            <li><span>Color</span> Green, Pink, Powder Blue, Purple</li>
                                            <li><span>Quantity Per Case</span> 100ml</li>
                                            <li><span>Ethyl Alcohol</span> 70%</li>
                                            <li><span>Piece In One</span> Carton</li>
                                        </ul>
                                        <hr class="wp-block-separator is-style-dots">
                                        <p>Laconic overheard dear woodchuck wow this outrageously taut beaver hey hello
                                            far meadowlark imitatively egregiously hugged that yikes minimally unanimous
                                            pouted flirtatiously as beaver beheld above forward
                                            energetic across this jeepers beneficently cockily less a the raucously that
                                            magic upheld far so the this where crud then below after jeez enchanting
                                            drunkenly more much wow callously irrespective limpet.</p>
                                        <h4 class="mt-30">Packaging & Delivery</h4>
                                        <hr class="wp-block-separator is-style-wide">
                                        <p>Less lion goodness that euphemistically robin expeditiously bluebird smugly
                                            scratched far while thus cackled sheepishly rigid after due one assenting
                                            regarding censorious while occasional or this more crane
                                            went more as this less much amid overhung anathematic because much held one
                                            exuberantly sheep goodness so where rat wry well concomitantly.
                                        </p>
                                        <p>Scallop or far crud plain remarkably far by thus far iguana lewd precociously
                                            and and less rattlesnake contrary caustic wow this near alas and next and
                                            pled the yikes articulate about as less cackled dalmatian
                                            in much less well jeering for the thanks blindly sentimental whimpered less
                                            across objectively fanciful grimaced wildly some wow and rose jeepers
                                            outgrew lugubrious luridly irrationally attractively
                                            dachshund.
                                        </p>
                                    </div>
                                </div>

                                <div class="tab-pane fade show active " id="Reviews">
                                    <!--Comments-->

                                    <div class="comments-area  d-flex">
                                        <div class="col-lg-8">
                                            <h4 class="mb-30">Customer questions & answers</h4>

                                            <div class="comment-list ">

                                                {{#each product.ratings}}
                                                <input type="hidden" value="{{userDetails.userId}}" id="comment-id">
                                                <div class="single-comment justify-content-between  ">
                                                    <div class="user justify-content-between d-flex">
                                                        <div class="thumb text-center col-md-2 ">
                                                            <img src="/imgs/page/avatar-7.jpg" alt="">
                                                            <h6><a href="#">{{userDetails.name}}</a></h6>
                                                            <p class="font-xxs">Since 2008</p>
                                                        </div>
                                                        <div class="desc  col-md-10">
                                                            <span><i class="fa fa-sm fa-star star"
                                                                    style="color:#DDDDDD ;"></i></span>
                                                            <span><i class="fa fa-sm fa-star star"
                                                                    style="color:#DDDDDD ;"></i></span>
                                                            <span><i class="fa fa-sm fa-star star"
                                                                    style="color:#DDDDDD ;"></i></span>
                                                            <span><i class="fa fa-sm fa-star star"
                                                                    style="color:#DDDDDD ;"></i></span>
                                                            <span><i class="fa fa-sm fa-star star"
                                                                    style="color:#DDDDDD ;"></i></span>
                                                            {{#if updated}}
                                                            <span class="ms-2 text-dark">edited<i
                                                                    class="ms-1 las la-check-double"></i></span>
                                                            {{/if}}
                                                            <p id="comment-{{_id}}">{{comment}}</p>
                                                            <input type="hidden" id="rating-{{_id}}"
                                                                class="rating-input" value="{{rating}}">
                                                            <div class="d-flex justify-content-between">
                                                                <div class="d-flex align-items-center">
                                                                    {{#if updatedAt}}
                                                                    <p class="font-xs mr-30">{{formatDateTwo updatedAt}}
                                                                    </p>
                                                                    {{else}}
                                                                    <p class="font-xs mr-30">{{formatDateTwo addedAt}}
                                                                    </p>
                                                                    {{/if}}
                                                                    {{#if (eq ../userId userDetails.userId)}}
                                                                    <input type="hidden" id="comment-edit-id"
                                                                        value="{{_id}}">
                                                                    <button id="edit-button"
                                                                        onclick="setComment('{{_id}}')"
                                                                        class="text-brand btn-reply"
                                                                        style="border: none;" data-bs-toggle="modal"
                                                                        data-bs-target="#edit-review-modal">Edit <i
                                                                            class="fas fa-edit"
                                                                            style="font-size: 16px;"></i></button>
                                                                    {{/if}}

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {{/each}}
                                                <div id="ratings"></div>
                                            </div>
                                            <button id="view-more-button" class="btn btn-sm "
                                                style="color: #046963;background-color: transparent;">View More</button>
                                        </div>
                                        <div class="col-lg-4 ">
                                            <h4 class="mb-30">Customer reviews</h4>
                                            <div class="d-flex mb-30">
                                                <div class="product-rate d-inline-block mr-15">
                                                    <div class="product-rating" style="width:90%">
                                                    </div>
                                                </div>
                                                <h6>{{product.productRating}} out of 5</h6>
                                            </div>
                                            <div class="progress">
                                                <span>5 star</span>
                                                <div class="progress-bar" role="progressbar" style="width: 50%;"
                                                    aria-valuenow="{{product.ratingPercentages.five}}" aria-valuemin="0"
                                                    aria-valuemax="100">
                                                    {{product.ratingPercentages.five}} %
                                                </div>
                                            </div>
                                            <div class="progress">
                                                <span>4 star</span>
                                                <div class="progress-bar" role="progressbar" style="width: 25%;"
                                                    aria-valuenow="{{product.ratingPercentages.four}}" aria-valuemin="0"
                                                    aria-valuemax="100">
                                                    {{product.ratingPercentages.four}}%
                                                </div>
                                            </div>
                                            <div class="progress">
                                                <span>3 star</span>
                                                <div class="progress-bar" role="progressbar" style="width: 45%;"
                                                    aria-valuenow="{{product.ratingPercentages.three}}"
                                                    aria-valuemin="0" aria-valuemax="100">
                                                    {{product.ratingPercentages.three}}%
                                                </div>
                                            </div>
                                            <div class="progress">
                                                <span>2 star</span>
                                                <div class="progress-bar" role="progressbar" style="width: 65%;"
                                                    aria-valuenow="{{product.ratingPercentages.two}}" aria-valuemin="0"
                                                    aria-valuemax="100">
                                                    {{product.ratingPercentages.two}}%
                                                </div>
                                            </div>
                                            <div class="progress mb-30">
                                                <span>1 star</span>
                                                <div class="progress-bar" role="progressbar" style="width: 85%;"
                                                    aria-valuenow="{{product.ratingPercentages.one}}" aria-valuemin="0"
                                                    aria-valuemax="100">
                                                    {{product.ratingPercentages.one}}%
                                                </div>
                                            </div>
                                            <a href="#" class="font-xs text-muted">How are ratings calculated?</a>
                                        </div>

                                    </div>

                                    <div class="comment-form ">
                                        <h4 class="mb-15 text-center">Add a review</h4>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 ">
                                                <div class="rating-stars ">
                                                    <div class=" d-flex align-items-center justify-content-center"
                                                        style="">
                                                        <input type="radio" name="rating" value="1" id="rating-1">
                                                        <label for="rating-1"><i class="fa  fa-star"></i></label>
                                                        <input type="radio" name="rating" value="2" id="rating-2">
                                                        <label for="rating-2"><i class="fa fa-star"></i></label>
                                                        <input type="radio" name="rating" value="3" id="rating-3">
                                                        <label for="rating-3"><i class="fa fa-star"></i></label>
                                                        <input type="radio" name="rating" value="4" id="rating-4">
                                                        <label for="rating-4"><i class="fa fa-star"></i></label>
                                                        <input type="radio" name="rating" value="5" id="rating-5">
                                                        <label for="rating-5"><i class="fa fa-star"></i></label>

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 mt-3 ">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <textarea class="form-control w-100" name="comment"
                                                                id="myTextarea" cols="30" rows="20"
                                                                placeholder="Write Comment"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group align-items-center">
                                                    <input type="button" class="text-white" value="Submit"
                                                        id="add-rating" style="background-color:#046963 ;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <style>
                                        .rating-stars {
                                            direction: rtl;
                                        }

                                        .rating-stars input[type="radio"] {
                                            display: none;
                                        }

                                        .rating-stars label {
                                            display: inline-block;
                                            /* Display labels as inline blocks */
                                        }

                                        .rating-stars label i {
                                            font-size: 32px;
                                            color: #ddd;
                                            cursor: pointer;
                                            transition: all 0.2s linear;
                                        }

                                        .rating-stars input[type="radio"]:checked~label i,
                                        .rating-stars input[type="radio"]:hover~label i {
                                            color: #ffcc00;
                                            transform: scaleX(-1);
                                            direction: initial;
                                        }
                                    </style>



                                    <div class="row mt-60">
                                        <div class="col-12">
                                            <h3 class="section-title style-1 mb-30">Related products</h3>
                                        </div>
                                        <div class="col-12">
                                            <div class="row related-products">
                                                <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                                    <div class="product-cart-wrap small hover-up">
                                                        <div class="product-img-action-wrap">
                                                            <div class="product-img product-img-zoom">
                                                                <a href="shop-product-right.html" tabindex="0">
                                                                    <img class="default-img"
                                                                        src="/imgs/shop/product-2-1.jpg" alt="">
                                                                    <img class="hover-img"
                                                                        src="/imgs/shop/product-2-2.jpg" alt="">
                                                                </a>
                                                            </div>
                                                            <div class="product-action-1">
                                                                <a aria-label="Quick view"
                                                                    class="action-btn small hover-up"
                                                                    data-bs-toggle="modal" data-bs-target="#quickViewModal
"><i class="fi-rs-search"></i></a>
                                                                <a aria-label="Add To Wishlist"
                                                                    class="action-btn small hover-up"
                                                                    href="shop-wishlist.html" tabindex="0"><i
                                                                        class="fi-rs-heart"></i></a>
                                                                <a aria-label="Compare"
                                                                    class="action-btn small hover-up"
                                                                    href="shop-compare.html" tabindex="0"><i
                                                                        class="fi-rs-shuffle"></i></a>
                                                            </div>
                                                            <div
                                                                class="product-badges product-badges-position product-badges-mrg">
                                                                <span class="hot">Hot</span>
                                                            </div>
                                                        </div>
                                                        <div class="product-content-wrap">
                                                            <h2><a href="shop-product-right.html" tabindex="0">Ulstra
                                                                    Bass
                                                                    Headphone</a></h2>
                                                            <div class="rating-result" title="90%">
                                                                <span>
                                                                </span>
                                                            </div>
                                                            <div class="product-price">
                                                                <span>$238.85 </span>
                                                                <span class="old-price">$245.8</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                                    <div class="product-cart-wrap small hover-up">
                                                        <div class="product-img-action-wrap">
                                                            <div class="product-img product-img-zoom">
                                                                <a href="shop-product-right.html" tabindex="0">
                                                                    <img class="default-img"
                                                                        src="/imgs/shop/product-3-1.jpg" alt="">
                                                                    <img class="hover-img"
                                                                        src="/imgs/shop/product-4-2.jpg" alt="">
                                                                </a>
                                                            </div>
                                                            <div class="product-action-1">
                                                                <a aria-label="Quick view"
                                                                    class="action-btn small hover-up"
                                                                    data-bs-toggle="modal" data-bs-target="#quickViewModal
"><i class="fi-rs-search"></i></a>
                                                                <a aria-label="Add To Wishlist"
                                                                    class="action-btn small hover-up"
                                                                    href="shop-wishlist.html" tabindex="0"><i
                                                                        class="fi-rs-heart"></i></a>
                                                                <a aria-label="Compare"
                                                                    class="action-btn small hover-up"
                                                                    href="shop-compare.html" tabindex="0"><i
                                                                        class="fi-rs-shuffle"></i></a>
                                                            </div>
                                                            <div
                                                                class="product-badges product-badges-position product-badges-mrg">
                                                                <span class="sale">-12%</span>
                                                            </div>
                                                        </div>
                                                        <div class="product-content-wrap">
                                                            <h2><a href="shop-product-right.html" tabindex="0">Smart
                                                                    Bluetooth
                                                                    Speaker</a></h2>
                                                            <div class="rating-result" title="90%">
                                                                <span>
                                                                </span>
                                                            </div>
                                                            <div class="product-price">
                                                                <span>$138.85 </span>
                                                                <span class="old-price">$145.8</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                                    <div class="product-cart-wrap small hover-up">
                                                        <div class="product-img-action-wrap">
                                                            <div class="product-img product-img-zoom">
                                                                <a href="shop-product-right.html" tabindex="0">
                                                                    <img class="default-img"
                                                                        src="/imgs/shop/product-4-1.jpg" alt="">
                                                                    <img class="hover-img"
                                                                        src="/imgs/shop/product-4-2.jpg" alt="">
                                                                </a>
                                                            </div>
                                                            <div class="product-action-1">
                                                                <a aria-label="Quick view"
                                                                    class="action-btn small hover-up"
                                                                    data-bs-toggle="modal" data-bs-target="#quickViewModal
"><i class="fi-rs-search"></i></a>
                                                                <a aria-label="Add To Wishlist"
                                                                    class="action-btn small hover-up"
                                                                    href="shop-wishlist.html" tabindex="0"><i
                                                                        class="fi-rs-heart"></i></a>
                                                                <a aria-label="Compare"
                                                                    class="action-btn small hover-up"
                                                                    href="shop-compare.html" tabindex="0"><i
                                                                        class="fi-rs-shuffle"></i></a>
                                                            </div>
                                                            <div
                                                                class="product-badges product-badges-position product-badges-mrg">
                                                                <span class="new">New</span>
                                                            </div>
                                                        </div>
                                                        <div class="product-content-wrap">
                                                            <h2><a href="shop-product-right.html" tabindex="0">HomeSpeak
                                                                    12UEA
                                                                    Goole</a></h2>
                                                            <div class="rating-result" title="90%">
                                                                <span>
                                                                </span>
                                                            </div>
                                                            <div class="product-price">
                                                                <span>$738.85 </span>
                                                                <span class="old-price">$1245.8</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                                    <div class="product-cart-wrap small hover-up mb-0">
                                                        <div class="product-img-action-wrap">
                                                            <div class="product-img product-img-zoom">
                                                                <a href="shop-product-right.html" tabindex="0">
                                                                    <img class="default-img"
                                                                        src="/imgs/shop/product-5-1.jpg" alt="">
                                                                    <img class="hover-img"
                                                                        src="/imgs/shop/product-3-2.jpg" alt="">
                                                                </a>
                                                            </div>
                                                            <div class="product-action-1">
                                                                <a aria-label="Quick view"
                                                                    class="action-btn small hover-up"
                                                                    data-bs-toggle="modal" data-bs-target="#quickViewModal
"><i class="fi-rs-search"></i></a>
                                                                <a aria-label="Add To Wishlist"
                                                                    class="action-btn small hover-up"
                                                                    href="shop-wishlist.html" tabindex="0"><i
                                                                        class="fi-rs-heart"></i></a>
                                                                <a aria-label="Compare"
                                                                    class="action-btn small hover-up"
                                                                    href="shop-compare.html" tabindex="0"><i
                                                                        class="fi-rs-shuffle"></i></a>
                                                            </div>
                                                            <div
                                                                class="product-badges product-badges-position product-badges-mrg">
                                                                <span class="hot">Hot</span>
                                                            </div>
                                                        </div>
                                                        <div class="product-content-wrap">
                                                            <h2><a href="shop-product-right.html" tabindex="0">Dadua
                                                                    Camera 4K
                                                                    2021EF</a></h2>
                                                            <div class="rating-result" title="90%">
                                                                <span>
                                                                </span>
                                                            </div>
                                                            <div class="product-price">
                                                                <span>$89.8 </span>
                                                                <span class="old-price">$98.8</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
    </section>

</main>

{{>foot-user}}

<script>

    $(document).ready(function () {
        if (window.location.hash && window.location.hash == '#ratings') {
            var targetElement = $('#ratings');
            $('html, body').animate({ scrollTop: targetElement.offset().top }, 500);
        }
    });

    $('#success-close').click(function () {
        location.reload();
    });
    $('#error-close').click(function () {
        location.reload();
    });



    const setComment = (commentId) => {
        const comment = document.getElementById(`comment-${commentId}`).innerText
        const editTextArea = document.getElementById('review-edit-text-input').innerText = comment
        const rating = document.getElementById(`rating-${commentId}`).value
        document.getElementById('product-rating-value').value = rating

        const productRating = document.querySelector('.product-rating-edit');
        const productRatingValue = document.querySelector('#product-rating-value');
        let selectedRating = parseInt(productRatingValue.value) || 0;

        // Set the selected stars based on a variable
        const selectedStars = rating
        selectedRating = selectedStars;
        productRatingValue.value = selectedRating;
        const stars = productRating.querySelectorAll('i');
        stars.forEach((star, index) => {
            star.classList.toggle('active', index < selectedStars);
        });

        productRating.addEventListener('click', event => {
            const selectedStar = event.target.closest('i');

            if (selectedStar) {
                const rating = selectedStar.dataset.rating;
                selectedRating = rating;
                productRatingValue.value = selectedRating;
                const stars = productRating.querySelectorAll('i');
                stars.forEach((star, index) => {
                    star.classList.toggle('active', index < selectedRating);
                });
            }
        });

    }
</script>

<script>


    $('#add-rating').click((e) => {
        e.preventDefault();
        const ratingValue = $('input[name="rating"]:checked').val();
        const productId = document.getElementById('product_id').value;
        var myTextareaElement = document.getElementById("myTextarea");
        var myTextareaValue = myTextareaElement.value;
        const stars = 6 - ratingValue; // replace with actual rating
        $.ajax({
            type: "POST",
            url: "/shop-product-right/add-rating-for-products",
            data: $('#add-rating').serialize() + "&rating=" + stars + "&productId=" + productId + "&comment=" + myTextareaValue,
            success: (response) => {
                console.log(response);
                if (response.status) {
                    const ratingValue = $('input[name="rating"]:checked').val();
                    const productId = document.getElementById('product_id').value;
                    var myTextareaElement = document.getElementById("myTextarea");
                    var myTextareaValue = myTextareaElement.value;
                    Swal.fire({
                        title: 'Thank you for your review!',
                        html: '<div class="stars">' +
                            '<i class="fa fa-star" style="color: ' + (stars >= 1 ? '#ffcc00' : '') + '"></i>' +
                            '<i class="fa fa-star" style="color: ' + (stars >= 2 ? '#ffcc00' : '') + '"></i>' +
                            '<i class="fa fa-star" style="color: ' + (stars >= 3 ? '#ffcc00' : '') + '"></i>' +
                            '<i class="fa fa-star" style="color: ' + (stars >= 4 ? '#ffcc00' : '') + '"></i>' +
                            '<i class="fa fa-star" style="color: ' + (stars >= 5 ? '#ffcc00' : '') + '"></i>' +
                            '</div>',
                        icon: 'success',
                        confirmButtonText: 'OK',
                        confirmButtonColor: '#3085d6',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            console.log('User clicked OK');
                        }
                    });
                } else if (response.notPurchased) {
                    Swal.fire({
                        title: 'Warning!',
                        text: response.Message,
                        icon: 'warning',
                        confirmButtonText: 'OK',
                        confirmButtonColor: '#f37b7b',
                    })

                } else if (response.alreadyPosted) {
                    Swal.fire({
                        title: 'Warning!',
                        text: response.Message,
                        icon: 'warning',
                        confirmButtonText: 'OK',
                        confirmButtonColor: '#f37b7b',
                    })
                } else {
                    Swal.fire({
                        title: 'Warning!',
                        text: response.Message,
                        icon: 'error',
                        confirmButtonText: 'OK',
                        confirmButtonColor: '#f37b7b',
                    })

                }
            }
        });
    });

    $('#edit-review').click((e) => {
        const commentId = document.getElementById('comment-edit-id').value
        const review = document.getElementById('review-edit-text-input').value
        const rating = document.getElementById('product-rating-value').value
        $.ajax({
            url: '/shop-product-right/edit-review',
            type: 'POST',
            data: {
                commentId,
                review,
                rating
            },
            success: (response) => {
                if (response.status) {
                    $('#edit-review-modal').modal('hide');
                    $('#successModal-review').modal('show');
                    setTimeout(() => {
                        $('#successModal-review').modal('hide');
                        location.reload()
                    }, 3000)
                } else {
                    $('#errorModal-review').modal('show');
                    setTimeout(() => {
                        $('#errorModal-review').modal('hide');
                        location.reload()
                    }, 3000)
                }
            },
            error: (err) => {
                $('#errorModal-review').modal('show');
                setTimeout(() => {
                    $('#errorModal-review').modal('hide');
                    location.reload()
                }, 3000)
            }
        })
    })
</script>
<script>
    // get all the sets of stars and hidden input fields
    const starSets = document.querySelectorAll('.desc');
    // loop through each set of stars and hidden input fields
    starSets.forEach((set) => {
        // get the rating value from the hidden input field
        let rating = set.querySelector('.rating-input').value;
        rating = parseInt(rating)

        // loop through the stars in the current set and fill in the stars based on the rating value
        const stars = set.querySelectorAll('.star');
        stars.forEach((star, index) => {
            if (index < rating) {
                star.style.color = '#ED8A19';
            } else {
                star.style.color = '#DDDDDD';
            }
        });
    });


</script>


<script>
    $(document).ready(function () {

        updateProductDetails()

         
        const comments = $('.single-comment');
        const viewMoreButton = $('#view-more-button');

        // Hide all comments except for the first 3
        comments.slice(3).hide();

        // Toggle visibility of comments when "View More" button is clicked
        viewMoreButton.on('click', function () {
            comments.slice(3).toggle();
            $(this).text(function (_, text) {
                return text === 'View More' ? 'View Less' : 'View More';
            });
        });


    });



    // Define a function to retrieve and update the product details
    function updateProductDetails() {
        // Check if product details are stored in localStorage
        const storedProductDetails = localStorage.getItem(`productData`);
        if (storedProductDetails) {
            // Parse the JSON data
            const productDetails = JSON.parse(storedProductDetails);
            // Update the product details on the page
            const productImage = document.querySelector('#image-one');
            const hoverImage = document.querySelector('#image-hover')
            productImage.src = productDetails.images.image1;
            hoverImage.src = productDetails.images.image1;
                const productImage2 = document.querySelector('#image-two');
                const productImage3 = document.querySelector('#image-three');
                const productImage4 = document.querySelector('#image-four');
                const productImage5 = document.querySelector('#image-five');

                const thumbanilImage = document.querySelector('#thumbanil-one');
                const thumbanilImage2 = document.querySelector('#thumbanil-two');
                const thumbanilImage3 = document.querySelector('#thumbanil-three');
                const thumbanilImage4 = document.querySelector('#thumbanil-four');
                const thumbanilImage5 = document.querySelector('#thumbanil-five');


                productImage2.src = productDetails.images.image2;
                productImage3.src = productDetails.images.image3
                productImage4.src = productDetails.images.image4
                productImage5.src = productDetails.images.image5

                
                thumbanilImage.src = productDetails.images.image1;
                thumbanilImage2.src = productDetails.images.image2;
                thumbanilImage3.src = productDetails.images.image3
                thumbanilImage4.src = productDetails.images.image4
                thumbanilImage5.src = productDetails.images.image5

            // Update any other elements that depend on the product details
        } else {
                const productImage = document.querySelector('#image-one');
                const productImage2 = document.querySelector('#image-two');
                const productImage3 = document.querySelector('#image-three');
                const productImage4 = document.querySelector('#image-four');
                const productImage5 = document.querySelector('#image-five');

                 const thumbanilImage = document.querySelector('#thumbanil-one');
                const thumbanilImage2 = document.querySelector('#thumbanil-two');
                const thumbanilImage3 = document.querySelector('#thumbanil-three');
                const thumbanilImage4 = document.querySelector('#thumbanil-four');
                const thumbanilImage5 = document.querySelector('#thumbanil-five');

                const hoverImage = document.querySelector('#image-hover');

                productImage.src = response.product.images.image1;
                productImage2.src = response.product.images.image2;
                productImage3.src = response.product.images.image3
                productImage4.src = response.product.images.image4
                productImage5.src = response.product.images.image5

                thumbanilImage.src = response.product.images.image1;
                thumbanilImage2.src = response.product.images.image2;
                thumbanilImage3.src = response.product.images.image3
                thumbanilImage4.src = response.product.images.image4
                thumbanilImage5.src = response.product.images.image5
        }
        }


    // Call the function when the page finishes loading



    
    const changeProduct = (productId, parentId) => {

        $.ajax({
            url: 'shop-product-right',
            type: "POST",
            data: { productId, parentId },
            success: (response) => {
                const productId = response?.product._id
                // Store the product data in local storage
                localStorage.setItem(`productData`, JSON.stringify(response.product));
                updateProductDetails()
                
            }
        });
    }


</script>