{{>head-user}}
{{>user-header}}
<style>
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }

  .modal-content {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 50px;
    border-radius: 8px;
  }

  #loadingSpinner {
    margin: auto;
    width: 80px;
    height: 80px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
</style>

{{#if walletData}}
<div class="container pt-30 pb-60">
  <div class="row align-items-center mt-4">
    <div class="col-lg-6">
      <div class="balance">
        <p class="mb-2">Current Balance:</p>
        <h3 class="mb-4">{{formatCurrency walletData.balance}}</h3>
      </div>
    </div>
    <div class="col-lg-6">
      <h4 class="mb-3">Add Funds</h4>
      <form class="add-funds">
        <div class="form-group">
          <label for="amount">Amount:</label>
          <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input type="text" id="" name="" class="form-control">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Add Funds</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12 mb-4">
      <h3 class="mb-3">Transactions</h3>
      {{#if walletData.transactions}}
      <ul class="list-group">
        {{#each walletData.transactions}}
        <li class="list-group-item">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <p class="mb-0">{{date}}</p>
              {{#if (eq type 'credited')}}
              <p class="mb-0 text-success">${{amount}} - {{type}}</p>
              {{/if}}
              {{#if (eq type 'debited')}}
              <p class="mb-0 text-danger">${{amount}} - {{type}}</p>
              {{/if}}
              {{#if (eq type 'failed')}}
              <p class="mb-0 text-warning">${{amount}} - {{type}}</p>
              {{/if}}
            </div>
            <div class="col-lg-6 text-lg-end mt-3 mt-lg-0">
              <button type="button" class="btn btn-secondary">View Details</button>
            </div>
          </div>
        </li>
        {{/each}}
      </ul>
      {{else}}
       <h5>You don't have any transactions..</h5>
      {{/if}}
    </div>
  </div>
</div>

{{else}}
<div class="container">
  <div class="row d-flex align-items-center justify-content-center" style="padding-top: 4em;padding-bottom: 30em;">
    <div class="col-md-8 text-center">
      <h3 class="">Your wallet is currently inactive, Please activate your wallet</h3>
      <button id="activateWalletBtn" onclick="activateWallet()" class="btn mt-3">Activate</button>
      <div id="loadingModal" class="modal">
        <div class="modal-content">
          <div id="loadingSpinner"></div>
          <h5 class="mt-3">Activating your wallet,Please wait..</h5>
        </div>
      </div>
    </div>
  </div>

</div>

{{/if}}

{{>foot-user}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>

<script>
  var loadingModal = document.getElementById("loadingModal");
  var spinner = new Spinner().spin(document.getElementById("loadingSpinner"));

  document.getElementById("activateWalletBtn")?.addEventListener("click", function () {
    // Show loading modal
    loadingModal.style.display = "block";

    // Simulate wallet activation process
    setTimeout(function () {
      // Hide loading modal after a delay (replace with your actual wallet activation logic)
      loadingModal.style.display = "none";
      spinner.stop();
    }, 3000); // 3000ms = 3 seconds (replace with your desired duration)
  });


  const activateWallet = () => {
    $.ajax({
      url: "/open-wallet/activate-wallet",
      method: 'GET',
      success: (response) => {
        setTimeout(() => {
          $('#loadingModal').hide()
          Swal.fire({
            title: "Wallet Activation Successful",
            icon: "success",
            text: "Congratulations! Your wallet has been successfully activated.",
            showConfirmButton: false,
            timer: 3000, // Automatically close after 3 seconds
          });

        }, 4000);

        setTimeout(() => {
          window.location.reload();
        }, 6000);

      },
      error: (err) => {
        $('#loadingModal').hide()
        Swal.fire({
          title: "Wallet Activation Failed",
          icon: "error",
          text: "Oops! Something went wrong with wallet activation. Please try again.",
          showConfirmButton: true,
          confirmButtonText: "OK",
          allowOutsideClick: false, // Prevent clicking outside Swal to close
        }).then((result) => {
          if (result.isConfirmed) {
            location.reload()

          }
        });
      }
    })
  }

</script>