{{>head-user}}
{{>user-header}}
<section class="pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                {{!-- {{>user-profile-nav}} --}}
            </div>
            <div class="col-md-8">
                <div class="row">
                    {{!-- <div class="row  d-flex align-items-center" style="height: 100px;">
                        <div class="d-flex align-items-center " style="border: 1px solid #F4F5F9;height: 50px;">
                            <button class="ms-3 text-dark" onclick="toggleDiv()"
                                style="border: none;background: none;font-weight: 600;">+ ADD A NEW ADDRESS</button>
                        </div>
                    </div> --}}
                    <div class="row" id="add-address">
                        <div class="col mb-3">
                            <div class="card">
                                <div class="card-body">
                                    {{!-- <ul class="nav nav-tabs">
                                        <li class="nav-item"><a href="" class="active nav-link">Settings</a></li>
                                    </ul> --}}
                                    <div class="tab-content pt-3">
                                        <div class="tab-pane active">
                                            <form class="form" action="/editAddress?addressId={{currentAddress._id}}&from={{from}}" method="post">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Full Name</label>
                                                                    <input class="form-control" type="text" name="name"
                                                                        placeholder="Name" value="{{currentAddress.name}}" id="name">
                                                                        <small class="error-msg text-danger"></small>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Mobile</label>
                                                                    <input class="form-control" type="text"
                                                                        name="mobile" placeholder="mobile" value="{{currentAddress.mobile}}" id="mobile">
                                                                        <small class="error-msg text-danger"></small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-2">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Pincode</label>
                                                                    <input class="form-control" type="text"
                                                                        name="pincode" placeholder="pincode" value="{{currentAddress.pincode}}" id="pincode">
                                                                        <small class="error-msg text-danger"></small>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Locality</label>
                                                                    <input class="form-control" type="text"
                                                                        name="locality" placeholder="locality" value="{{currentAddress.locality}}" id="locality">
                                                                        <small class="error-msg text-danger"></small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col mb-3">
                                                                <div class="form-group">
                                                                    <label>Address</label>
                                                                    <textarea class="form-control" rows="5"
                                                                        placeholder="address" name="address" id="address" >{{currentAddress.address}}</textarea >
                                                                        <small class="error-msg text-danger"></small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-2">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>City</label>
                                                                    <input class="form-control" type="text" name="city"
                                                                        placeholder="city" value="{{currentAddress.city}}" id="city">
                                                                        <small class="error-msg text-danger"></small>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>State</label>
                                                                    <input class="form-control" type="text" name="state"
                                                                        placeholder="state" value="{{currentAddress.state}}" id="state">
                                                                        <small class="error-msg text-danger"></small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-2">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Landmark</label>
                                                                    <input class="form-control" type="text"
                                                                        name="landmark" placeholder="landmark" value="{{currentAddress.landmark}}" id="landmark">
                                                                        <small class="error-msg text-danger"></small>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Alternate Phone</label>
                                                                    <input class="form-control" type="text"
                                                                        name="alternatePhone" placeholder="phone"
                                                                        value="{{currentAddress.alternatePhone}}" id="alternate_phone">
                                                                        <small class="error-msg text-danger"></small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" style="padding-top: 2rem;">
                                                    <div class="col d-flex justify-content-end">
                                                        <button class="btn btn-danger" type="submit">Cancel</button>
                                                        <button class="btn btn-primary ms-3" type="submit">Save</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{>foot-user}}
